[2013-11-24 12:52] steffenmllr opened #1 "BUG: $all and $elemMatch fails on nested elements"
Hey there. first off: awesome stuff you did with mingo. However I encountered a bug while querying a nested array using $all and $elemMatch. I setup a testcase to illustrate the issue:

[code]

Expected behavior: http://docs.mongodb.org/manual/reference/operator/query/all/#use-all-with-elemmatch

[2013-11-24 21:54] #1 closed, assigned to kofrasa

[2014-08-20 14:52] wolfen351 opened #2 "Wow nice work, but I cannot compile it :("
Hi there

I'm trying to use your beautiful library with the Jurassic c# library for executing javascript. It keeps telling me:

 TypeError: undefined cannot be converted to an object - This is at line 40 in the library.

Does this absolutely need to work in the browser context?

Im running it in a pure javascript environment (kinda), with no browser or browser objects present...

Help!

[2014-08-20 15:26] wolfen351 opened #3 "Feature request: Test function"
Hi there

I would love a feature to do the following: Test an arbitary object to see if it would pass or fail a "find" kind of expression. I'm sure you have it internally, would it be hard to expose to the API ?

var Mingo = require('mingo');
// or just access _Mingo_ global in browser

// setup the key field for your collection
Mingo.setup({
    key: '_id' // default
});

// create a query with c

[2014-08-20 16:05] #2 closed, assigned to nobody

[2014-08-20 16:05] #3 closed, assigned to nobody

[2015-01-23 17:03] zoomclub opened #4 "More Info Please"
This looks like a great project, just need some more intro info, like what the purpose of your API is and how it compares. Does it work on all collection types or any deserialized JSON? Can it be used to query Firebase documents? Can it augment the Firebase query API?

[2015-01-26 17:34] pe8ter opened #6 "Clarification"
I would be nice to know a little more about this project without having to dig into the code. The project description is only six words and the language makes the project seem like another Mongo Node driver.

It's not a Mongo Node driver per se, but more specifically a Mongo emulator. There's no MongoDB backend required because it's built right in (as I understand it). To me this wasn't clear from

[2015-01-26 19:06] kofrasa commented on #6
@pe8ter I really thought the description was quite clear. This implementation works directly with in-memory javascript objects and has no database backing whatsoever. You are welcome to suggest a better description. Any ideas?

[2015-01-26 19:10] kofrasa commented on #4
The goal of the project is to provide MongoDB style queries for direct in-memory javascript collections/objects, mainly for the client side.

[2015-01-26 19:11] #4 closed

[2015-01-26 20:10] #6 closed

[2015-01-27 10:10] vdininski opened #7 "Support for create/update operations"
Do you plan on adding support for create/update operations?

[2015-01-27 10:17] zoomclub commented on #4
Your project achieves a great goal. I took the mongoDB course a while back and was impressed with its query language. At the same time I was settling on Firebase and found that it did not have the same depth of query abilities, although Firebase queries have become more robust.

https://www.firebase.com/blog/2014-11-04-firebase-realtime-queries.html

It would be super to have mongoDB level queryin

[2015-01-27 10:37] kofrasa commented on #7
Not sure. Mingo is intended only to provide flexibility of querying JSON objects as you do for MongoDB documents. Create/Update are more of data definition/manipulation operations suitable for a storage backed tool.

[2015-01-27 10:50] #7 closed

[2015-01-27 11:03] kofrasa commented on #4
I have not explored Firebase myself but the link suggest they offer limited querying support as compared to mongoDB. However, as long as the documents are available on the client-side, Mingo can be used to fill the query gap as you already pointed at.

For large documents, a great advantage comes from using NodeJS with the JSON stream library. This allows you to search your document as it is being

[2015-02-02 17:58] jgornick opened #8 "Add support for dot notation field names."
There doesn't seem to be support for dot notation field names: http://docs.mongodb.org/manual/core/document/#dot-notation

You can currently get around by using the $elemMatch operator.

[2015-02-03 10:36] kofrasa commented on #8
Mingo already supports the dot notation. Some test cases do cover them for both object field access and array element access.
See https://github.com/kofrasa/mingo/blob/master/test/queries.js#L56

I may have forgotten to document the feature and will do so in the next upgrade. If you have any test case that is failing, please let us know.

[2015-02-03 11:43] #8 closed

[2015-02-03 14:25] jgornick commented on #8
@kofrasa Meh, I'm sorry, I should of checked tests first. Thanks and great work!

[2015-02-03 14:52] kofrasa commented on #8
@jgornick my bad mate. this just reinforces the importance of documentation, so users of the software don't have the need to dive into implementation details to know what is possible or not.

[2015-03-16 15:55] AntonSotirov opened #9 "$slice projection operator throws Type Error for null arrays."
If an array field in a document is **null** and we try to project it with a $slice, a type error is thrown.

Expected behaviour is to return null when the array value is null and undefined when the array value is undefined.

[2015-03-16 17:06] kofrasa commented on #9
@AntonSotirov could you provide a sample structure to use for a test case

[2015-03-16 17:15] kofrasa commented on #9
never mind. pretty simple fix. merging :)

[2015-03-16 22:38] kofrasa commented on #9
resolved.

[2015-03-16 22:38] #9 closed

[2015-03-17 08:12] andineck opened #10 "find with string functions"
I started using mingo. It's been really great so far.
What I am missing (or don't understand to do) is, finding documents with string functions like: `contains`, `startsWith`, `endsWith`.

How do I do this more elegant (contains):

[code]

[2015-03-17 10:00] AntonSotirov opened #11 "$slice works in a different way compared to mongodb"
Expected: calling $slice with a single argument in **mongodb**, gets that many items from the array beginning from zero position.

Actual: Calling **mingo** with $slice and a single argument takes all items counting from that position in the array.

[2015-03-17 10:02] kofrasa commented on #10
I believe the regular expression variant is clearer and more elegant.

[2015-03-17 10:07] andineck commented on #10
is there also an elegant way without RegExp?
I have to serialize the query object and reqular expressions are cumbersome for this use case.
Is there a way to `mixin` functions like: `contains`, `startsWith`, `endsWith`.

[2015-03-17 10:20] kofrasa commented on #10
I decided to exclude special operators not found in the original MongoDB implementation. However, there is room for a feature that would allow registering custom operators. I did not think it would be necessary. With such a feature, that would mean loading up your custom operators into Mingo before running your serialized query.

[2015-03-17 10:23] andineck commented on #10
makes sense, thx for the explanation.

[2015-03-17 10:23] #10 closed

[2015-03-17 11:41] AntonSotirov commented on #11
There is an issue with this implementation as well. It still doesn't behave as the original mongodb specification is.

For reference here are the tests for the $slice in [mongodb jstests code](https://github.com/mongodb/mongo/blob/7423c26ab95464a9b8f620ab4a11c297dc0621d5/jstests/core/slice1.js).

[2015-03-17 11:43] kofrasa commented on #11
Yes. The reason for reopening the issue. Updating with a fix

[2015-03-17 12:25] AntonSotirov commented on #11
There is one more issue with $slice. It currently excludes all other fields from the document.
$slice should just affect the property that is being "sliced", and not interfere in any way with the exlusion or inclusion of other fields.

[2015-03-17 12:37] kofrasa commented on #11
can you provide an example of this behaviour

[2015-03-17 13:35] AntonSotirov commented on #11
Sure.

Example document:
{
  Text: "MyText",
  Array: [1,2,3]
}

Fetching this document with a fields expression of:
{
  Array: { $slice: 1 }
}

should return
{
  Text: "MyText",
  Array: [1],
  _id: <....>
}

Notice that the Text and _id field will be included.
Furthermore, you can mix $slice with field exclusion and inclusion without affecting them:

Ex.
{
  Array: { $slice: 1 },
  Text: 0
}

{

[2015-03-17 15:54] kofrasa commented on #11
Thanks. I am a bit surprised. This looks like a special case in MongoDB. The other projection operator $elemMatch does not behave the same way.

[2015-03-17 16:03] AntonSotirov commented on #11
That IS surprising. Didn't know about $elemMatch. I would have expected that it works the same as $slice.

[2015-03-17 16:54] kofrasa commented on #11
anyway. I have a fix coming up.

[2015-03-17 17:23] kofrasa commented on #11
issue resolve in release 0.3.3

[2015-03-17 17:23] #11 closed

[2015-04-17 01:15] luishdez opened #13 "Add bower.json"
It will be great to manager this library with bower.

Thanks for sharing the library :)

[2015-04-20 19:56] #13 closed

[2015-04-22 14:20] jorisvddonk opened #14 "Feature request: defining custom Operators."
One thing I find myself wishing for when using Mingo is the ability to define custom operators.

Without the ability to define custom operators, I find myself wrapping aggregators in my own functions with aggregator-like APIs so that I can perform unsupported mutations or actions on data in such a way that the logic is centralized in my application and I don't repeat myself needlessly. If given th

[2015-04-22 18:27] kofrasa commented on #14
I have considered this feature in the past but there hasn't been a strong demand for it just yet and neither have I found personal use. My initial thoughts were to add a method `addOperator` which accepts the new operator name and a function receiving the following:
1. raw field expression
2. resolved field value
3. resolved argument values.

This is for simple test operators only. As an example c

[2015-04-22 20:12] jorisvddonk commented on #14
Hmm, this approach would only partially meet my needs.

What I'd like to add would be all kinds of operators, such as pipeline operators that are used to restructure data more thoroughly than is currently allowed (e.g. $pluck, which essentially performs Underscore's `pluck` operation on a collection), mathematical operators to compute various values (mostly analytical), operators that convert betw

[2015-04-22 21:32] kofrasa commented on #14
Your use case seems pretty advance. Quite interesting how far you wanna go with this though :+1:
Although it is possible to support your requirements, we must take care to avoid any compromises that may affect other users or the future development of this library (compatibility with the original MongoDB query language).  My biggest concern is exposing some internal functions even if marked as priv

[2015-04-22 22:11] luishdez commented on #13
Awesome! thanks buddy

[2015-04-25 14:34] jorisvddonk commented on #14
I agree; the core featureset and ease of use of the library shouldn't become worse as a direct result of this feature request.

I've looked through the code a bit for some of the internals that may need to be exposed. I don't have a full grasp yet regarding how things work, but based on some code readthroughs I think these are the most important things to expose:
* `settings` object, or alternativ

[2015-04-25 19:40] kofrasa commented on #14
Nice idea. I prefer the single interface `addOperator`, passing in *type* of operator and the needed `Mingo` internals via an object of functions. This would include `key()`, `resolve()`, and `computeValue()`. `accumulate` is just an internal helper that need not be exposed.

I feel overriding existing operators should be disallowed to ensure their integrity and consistency with that of the origin

[2015-04-27 11:02] jorisvddonk commented on #14
I like your proposal of passing in the Mingo internals via a function argument. That should keep things neat and tidy.

One point of critique I have with regards to your proposed `addOperator` function: the function you pass in to it should return an object containing a single key as per your example, but it's not really made clear what happens if an object with more than 1 key is returned instead

[2015-04-27 12:10] kofrasa commented on #14
Oops, I did not pay much attention to the name. I do agree with you that the function should be `addOperators` since it allows returning more than one operator. I have implemented the feature and it is available in the unminified version at the moment. Will quickly add update the method name.

For type `query` operators which are meant to test whether an object passes a given query criteria, I exp

[2015-04-27 14:21] vdininski opened #15 "Exclusive select projections seem to be broken"
Example data model:

[code]

Using something along the line of `var query = new Mingo.Cursor(collection, {}, {Name: 0})` I expect the result to be:

[code]

instead it is:

[code]

[2015-04-28 13:45] kofrasa commented on #15
@AntonSotirov fixed this issue. Will be resolved in the next release :)

[2015-04-28 13:45] #15 closed

[2015-04-28 13:49] kofrasa commented on #14
@jorisvddonk Could you please confirm whether the you are able to achieve what you wanted and if possible provide some custom operators for testing. I have added a [wiki](https://github.com/kofrasa/mingo/wiki/Custom-Operators) for reference

[2015-04-28 13:53] jorisvddonk commented on #14
I've looked into it and a quick examination seemed to suggest that it should be OK, but I haven't replied yet as I haven't actually tested it out in my codebase to verify, which I'll do as soon as I get home from work.

[2015-04-28 16:47] jorisvddonk commented on #14
Looks good to me!

I've been able to successfully implement the custom operators I was most eagerly anticipating myself (`$pluck` and `$stddev`). See [the gistfile](https://gist.github.com/jorisvddonk/e7e2d0bab78ec1e22634).

[2015-04-28 19:53] kofrasa commented on #14
Nice use of the new features.

It will be useful to drop the use of `$avg` though. A new update I am yet to push only allows running custom operator functions within their own object context to prevent them from tampering with the predefined ones. This happens implicitly for `OP_QUERY` and `OP_PROJECTION` operators since their interfaces are wrapped.

I believe this is a reasonable trade off, also

[2015-04-28 19:58] jorisvddonk commented on #14
That makes sense, yeah. I originally had my own implementation of $avg but figured I'd simplify and use the one that was already predefined. Running queries within a query makes sense and is a lot nicer than calling query functions directly.

[2015-04-29 00:20] RobertBaron opened #17 "Group by multiple fields not supported?"
Hi,

I am playing with your framework, so far I love the way it works.. Anyway I want to "report" the following issue.

On the mongo shell I execute the following query:
db.XXX.aggregate([{"$match":{}},{"$group":{"_id":{"hour":"$date_buckets.hour","keyword":"$Keyword"},"total":{"$sum":1}}},{"$sort":{"total":-1}},{"$limit":5},{"$project":{"_id":0,"hour":"$_id.hour","keyword":"$_id.keyword","total":

[2015-04-29 08:16] kofrasa commented on #17
Thank you Robert. We will look into that soon.

[2015-04-29 12:40] kofrasa commented on #17
fix included. next release coming soon.

[2015-04-29 12:40] #17 closed

[2015-04-29 12:42] kofrasa commented on #14
:+1:

[2015-04-29 12:42] #14 closed

[2015-05-19 14:58] vdininski opened #18 "Support for geospatial queries"
Is support for geospatial queries planned and what are the expected limitations?

[2015-05-19 15:29] kofrasa commented on #18
Yes it is, but not a priority since no demand for it has been made. Like the rest of the operators, it will follow the same behaviour as the MongoDB implementations. You are welcome to submit a pull request. Alternatively if you need only a subset of the features, you could write them as a custom operators, a feature available in the latest release :)

[2015-06-03 22:30] RobertBaron commented on #17
I just test this in the new release and data it is not matching with the comparing against mongo db :(
Thanks
--
Robert Baron.

[2015-06-04 01:09] kofrasa commented on #17
Hello Robert,
Your test case was included as a unit test for this fix.
See [test here](https://github.com/kofrasa/mingo/blob/master/test/aggregation.js#L151)
The test excludes the *_id* field explicitly, which would be added automatically otherwise.
If there are still issues, can you provide more details of the query you are currently running.

[2015-06-04 05:14] RobertBaron commented on #17
Hi Kofrasa,

I think I understand the "issue" ( I don't think is a bug or something similar ) anyway I want to explain why I has confused, I create a repo on: https://github.com/RobertBaron/Mingo_tmp_test_case with some test files ( for demo: code may not be the best ;)
npm install
and then

$ node test1.js
Mongo result!******
[ { total: 2, hour: 18, keyword: 'Bathroom Cleaning Tips' },
  { total:

[2015-09-18 15:23] gotdan opened #19 "Nested Arrays"
Hi,

It looks like mingo doesn't correctly return values in nested arrays. For example, with this data set:

[code]

The expression `{"key0.key1a.key2a": "value2a"}` returns the object, while the expression `{"key0.key1.key2": "value2"}` returns an empty array. Am I constructing the query wrong?

Thanks,
Dan

[2015-09-18 18:15] kofrasa commented on #19
I think your query should be valid but I would have to confirm it with MongoDB behaviour. I think I remember there were some limitations with the level of nesting with array queries but they are on  version 3.0 now so things might work differently.

Anyway an equally viable alternative for what you are trying to achieve would be to use the `$elemMatch` operator such as `{"key0.key1": {"$elemMatch"

[2015-09-19 15:57] gotdan commented on #19
Thanks - I’m not sure $elemMatch will work with this dataset though, since in some cases the value will be an object and and in some the same key will have an array of objects as the value (depending on how many children there are).  I don’t have control over the data format, so one of the nice things about the mongo dot notation is that the same query should work in both cases.

Do you know if th

[2015-09-19 20:41] kofrasa commented on #19
In that case you could use an `$or` operator (a bit of a hack i guess) :).

[code]
I will look into the bug soon.

[2015-09-20 18:25] kofrasa commented on #19
Just release 0.6.1 that fixes the issue.

[2015-09-21 13:45] gotdan commented on #19
Thanks! That was faster than I could implement a work around :).

[2015-12-04 15:00] vdininski opened #21 "Aggregation pipeline - $min on fields with type string not working"
If you try to do a `$min` aggregation on a string field in a collection you receive `Infinity` instead of the actual result. I still haven't tried, but I think that `$max` would work the same way. The issue is that `_.min` returns `Ifinity` when using strings.

[2015-12-07 11:28] vdininski commented on #21
Also `$avg` returns `NaN` if there is a document where the field is undefined

[2015-12-07 19:26] kofrasa commented on #21
I have been working on refactoring the aggregation framework into a library of its own. This will make the core of mingo a bit smaller and provide the extra features on demand. Nonetheless I will get some tests going for these issues soon

[2015-12-07 19:44] kofrasa commented on #21
I also welcome pull requests. Just rebase changes to one commit and add the corresponding tests

[2015-12-27 11:36] kofrasa commented on #21
Fixed in release [0.6.3](https://github.com/kofrasa/mingo/releases/tag/0.6.3)

[2015-12-27 11:36] #21 closed

[2016-05-19 17:52] kitce opened #22 "Please support query with mongoose ObjectId"
Please consider the following situation:
[code]
[code]
Looking forward to this!

[2016-05-19 18:51] kofrasa commented on #22
What you have as your example is expected since the types are different. Perhaps you should search using the query ```{_id: ObjectId("1")}```. I would expect that to give some kind of error since the library is currently is unaware of user-defined types. This was not priority given the goals of this project but it is feasible and I think without much effort.

[2016-05-19 20:22] kofrasa commented on #22
Added support for matching against user-defined types in release [0.6.4](https://github.com/kofrasa/mingo/releases/tag/0.6.4)

[2016-05-19 20:22] #22 closed

[2016-08-19 09:49] zag2art opened #24 "$lookup support"
Is new mongo 3.2 `$lookup` support planned?

[2016-08-20 09:32] kofrasa commented on #24
I have only looked at the `$lookup` operator following your question and it seems to reference another collection to function. This is not particularly suitable for `Mingo` which only works per collection without a full backing database.

Perhaps you can experiment with an implementation using the [custom operators](https://github.com/kofrasa/mingo/wiki/Custom-Operators) feature. Please feel free

[2016-08-20 14:00] zackehh opened #25 "Nested projections do not function correctly"
If you have a nested projection, it fails to match:

[code]

In MongoDB, this would return `[ { "_id" : ObjectId("57b86248bc6b3372ac511267"), "features" : { "hair" : "brown" } } ]`.

[2016-08-22 17:15] zackehh commented on #25
So I did some research on this and it seems that the issue is `getValue`.

[code]

[2016-08-22 17:25] zackehh opened #26 "Consider moving to use Lodash rather than Underscore"
There are several places Lodash has functions which Underscore doesn't which could be used internally, and none the other way around.

E.g. the `_.result` causing #25 would be `_.get` in Lodash but Underscore has no equivalent.

Is there a possibility Underscore could be replaced?

[2016-08-22 17:27] zackehh commented on #25
I can hand roll a nested retrieval get/set but I filed another issue about replacing Underscore with Lodash (maybe in a v0.7.0) which would solve this issue.

[2016-08-22 20:24] kofrasa commented on #25
You are right about the issue being `getValue`. There is already an internal function which handles nested retrieval correctly called `resolve`. However, that alone is not sufficient to address the problem. The root cause is that we resolve to the exact value of the given selector and not to the full object graph leading to the value.

For instance given the object

[code]
Currently:
[code]
We des

[2016-08-23 04:52] zag2art commented on #24
Yup, it works with two collections. For the first glance it does not match `Mingo` but it makes aggregation pipeline much more powerful and expressive. It's the analog of `join` from the SQL world.

[2016-09-14 02:10] justsml commented on #24
This would be cool if data was provided through promises, then you could point to a restful URI wrapper to reference collections:
[code]

I'll play around with the custom operators...

[2016-09-14 02:13] justsml commented on #26
@zackehh can you spot the issue in my PR #27 ?

![image](https://cloud.githubusercontent.com/assets/397632/18497766/77d7bb9a-79ee-11e6-9cbb-8dd25f5cdc15.png)

[2016-09-14 03:39] zackehh commented on #26
@justsml I can only assume that Lodash is doing some rebinding under the hood for some reason, it all looks ok to me - the issue must be with that `_.filter` call

[2016-09-14 18:58] justsml commented on #26
#### So close...

@zackehh Down to 1 failing test... 😿

https://travis-ci.org/kofrasa/mingo/builds/159784057#L255

Something in the aggregate for `$sum`... or thereabouts.

[2016-09-15 07:03] justsml commented on #26
It passes!!!

✅ 👍

[2016-09-16 01:02] kofrasa commented on #26
I think I responded to this partly in the previous issue: [issue#25](https://github.com/kofrasa/mingo/issues/25)

I do not see the benefit to using lodash over underscore.

What is the justification for this?

[2016-09-16 17:37] justsml commented on #26
Hi @kofrasa - sorry, i just realized we skipped the foreplay.
The main reasons I use Lodash is it's larger (& superior) API, Functional Programming support and multiple ways of doing composition (`compose`, `flow`, `flowRight`, et. al.).

Additionally, Lodash has a better modular design (in it's internal shared dependancies) which leads to smaller bundle size.

Leading to my next point, I've been

[2016-09-16 19:52] justsml commented on #26
@kofrasa
I forgot to mention, some other reasons in favor of Lodash:

1. Extensive community participation and inclusion (thanks to @jdalton for showing everyone how to do OSS leadership)
1. Rigorous testing.
1. Leading Performance in most head-to-head comparisons. (emphasis on the common uses)
1. Typically ZERO outstanding bugs.
1. Also, a very short average delay until bugs are resolved.
1. A va

[2016-09-17 21:07] kofrasa commented on #26
I think you provide good arguments for **lodash** however, I am not convinced they justify making a dependency change given a few practical reasons unrelated to the library itself.

1. **underscore** was chosen for quick prototyping and not meant to be a permanent dependency. My goal is to make this a zero-dependency library before *v1.0.0*. The most frequently used ```_``` functions are trivial t

[2016-09-17 21:44] jdalton commented on #26
FWIW with Lodash you can use [babel-plugin-lodash](https://github.com/lodash/babel-plugin-lodash) and [lodash-webpack-plugin](https://github.com/lodash/lodash-webpack-plugin) to bundle in just the methods you need without having to re-implement and maintain their equivs or include a separate dep.

[2016-09-18 05:34] justsml commented on #26
I just built such a contraption @jdalton (thanks for chiming in, you always seem to hear lodash being uttered anywhere in the universe... It's like your bat signal; have you ever called it a utility belt?)

... ok ok, i know i @ mentioned you

Thanks for the explanation @kofrasa ... I'll PR my webpack/babel script.
Then do another PR removing the core of the obviated methods (like you mention `eac

[2016-09-18 05:42] justsml commented on #26
^^^ I'm working under the assumption that the remaining lodash dependency size will be smaller than the bundle output by including underscore.

And for existing users, the nice feature here is the bundle internalizes the dependencies in a closure.
So it only increases supported environments/sites.
This also makes the bundle more immune to library version differences out in the wild.

[2016-09-23 21:49] kofrasa commented on #25
Fixed in v0.7.0

[2016-09-23 21:49] #25 closed

[2016-09-23 21:59] kofrasa commented on #26
Resolving in view of latest development.

[2016-09-23 21:59] #26 closed

[2016-09-23 22:04] jdalton commented on #26
It looks like you just [reimplemented a ton of methods](https://github.com/kofrasa/mingo/commit/1f884bb76bc67bdd7fe08b88a80b814e7c36d043) 😿

Even shimming is better done with something like [es-shims](https://github.com/es-shims).

[2016-11-28 18:54] sebakerckhof opened #35 "Meteor minimongo vs mingo"
Meteor also has a pure-js implementation of (a large part of) the mongo API.

I know it's not as feature-complete (e.g. no aggregation), but I was wondering if there has been a performance comparison between the two?

[2016-11-28 19:44] kofrasa commented on #35
I am not familiar with Meteor unfortunately. My goal with mingo has mostly been to make it feature complete and closely compatible with MongoDB queries.

[2016-11-29 23:37] #19 closed

[2016-12-01 05:46] kofrasa opened #36 "Incorrect matching of deeply nested values and whole objects"
From experiments, MongoDB only allows one level of nesting when matching values in an array without explicit indexes in the selector.

[code]

Matching whole object is also broken.

[code]
Tested with MongoDB@v3.2.5.

We currently do not handle these cases correctly.  Using the sample data.
[code]

Test 1 does not pass all equality checks
Test 2 throws an exception

Tested with Mingo@v0.8.

[2016-12-12 22:30] kofrasa commented on #36
Fixed in [0.8.1](https://github.com/kofrasa/mingo/releases/tag/0.8.1)

[2016-12-12 22:30] #36 closed

[2016-12-18 08:28] SachaG opened #37 "Documentation: what's a collection?"
This might seem obvious, but the documentation uses the term `collection` everywhere without ever giving an example of what a collection should look like. I think having a quick illustration of what you mean (array? JS object? something else?) would be useful.

[2016-12-19 06:27] kofrasa commented on #37
Thanks for the  question Sacha. I see how this may not be obvious although I thought it was implied given this library mimics MongoDB.

A collection is for the most part an `Array` of elements of type `Object`. This may not be strictly validated in some parts of the code depending on the type of query being executed and may lead to unexpected results. Such behaviour should definitely be reported a

[2016-12-19 06:31] SachaG commented on #37
Thanks! I did figure it out eventually but I thought the ambiguity could be avoided :)

[2016-12-19 06:31] kofrasa commented on #10
Although this may long be overdue, I would like to say that [Custom Operators](https://github.com/kofrasa/mingo/wiki/Custom-Operators) are available now.

[2016-12-22 12:46] whitfin opened #38 "Streaming Aggregation"
It seems that there's no reason why aggregations can't be streamed, is there a chance support can be added for this?

[2016-12-23 07:22] kofrasa commented on #38
Thanks for the question zackehh.

I did consider streaming aggregations early in the implementation, but then realized that it is not feasible due to `$group` and `$sort` operations which must operate on the entire collection.

The current streaming implementation for queries is not lazy and it was introduced to mimic MongoDB API interface so users can almost copy + paste code. That said, it is po

[2017-01-14 08:43] SachaG opened #39 "Date comparison doesn't work with strings"
I was using a selector that filters based on dates:

[code]

As far as I can tell, this doesn't work properly when the `postedAt` field contains date strings (the resulting cursor just came up empty), but it did work when I converted `postedAt` to date objects.

Is this the expected behavior? Or am I missing something?

[2017-01-17 04:36] kofrasa commented on #39
Hi @SachaG

Mingo uses the default comparison operators in Javascript for value comparisons. The ISO-8601 date format is ordered by default and should compare properly.

I tested this on [runkit](https://runkit.com/npm/mingo) and also on MongoDB. The behaviour is as expected.

### Mingo Tests

[code]

### MongoDB Tests

[code]

Please can you provide the query you were trying to run?

[2017-01-17 05:51] SachaG commented on #39
Hmm, I guess my issue is coming from something else then… let me test this out some more and I'll update you if I find out what it is.

[2017-01-17 17:17] ksloan opened #40 "webpack critical dependencies warnings"
Seeing this warning with webpack:

[code]

possibly related to https://github.com/webpack/webpack/issues/2675#issuecomment-269417932 ?

Loving this project by the way! Thanks!

[2017-01-18 11:54] kofrasa commented on #40
Can you please provide some more details on what you are trying to do and how?

The issue you referred to about webpack seem to suggest this occurs when attempting to require a variable.

If I am interpreting the above errors correctly, webpack is complaining about [line 24](https://github.com/kofrasa/mingo/blob/master/mingo.js#L24) which refers to the ```require``` function object. This should no

[2017-01-20 07:03] SachaG commented on #39
Oh ok, I think I got it. The issue didn't come from dates vs strings per se, it came from having different types. So when both the filter object and the collection documents use strings, or both use dates, it works. But when they have different types, it obviously stops working!

[2017-01-20 07:03] #39 closed

[2017-01-25 11:48] zag2art opened #41 "How to implement $$ROOT"
How one could implement **$$ROOT** variable as in here https://docs.mongodb.com/manual/reference/operator/aggregation/group/#group-documents-by-author?

It's in mongo since 2.6.

Do '_custom operators_' fit for this?

I tried to implement it this way, but it doesn't work.

[code]

It throws the error: "Invalid operator name '$$ROOT'"

[2017-01-25 12:35] zag2art commented on #41
It looks like the easiest way to add the functionality is to add the code into the very beginning of the **resolve** function:

[code]
But it's not generic enough. What do you think?

[2017-01-25 19:25] kofrasa commented on #41
From the MongoDB documentation ```$$ROOT``` is not an operator but rather a system variable.
I deliberately skipped system variables because most of them require the ```$redact``` operator which has yet to be implemented.

I think it is time to revisit the ```$redact``` operator and also consider a streamlined way of adding system variables.

Suggestions and PRs are welcome.

[2017-01-26 12:20] zag2art commented on #41
Thanks for your answer. Let me take a look what the `$redact` is.

[2017-01-26 14:52] zag2art commented on #41
$redact uses the aggregation expressions, so all of the $$ variables we should add to the part of engine.

I like the way you implemented 'custom operators', so I think the API should be something like this:

[code]

[2017-02-03 09:03] ericfong commented on #40
same problem here.

using webpack 2.2.1 and babel 6.22.1

I think webpack us regex to detect 'require' and throw because it cannot determine the requiring file path for line 24

[2017-02-03 17:25] ksloan commented on #40
Changing line 24 to this fixes the issue.
```var nodeEnabled = (undefined !== module && typeof require !== 'undefined');```

[2017-02-03 20:41] kofrasa commented on #41
I have implemented ```$redact``` on the development branch. Looking good so far and should be out in the next version. With regards to the system variables they can be handled directly within the value resolution functions. I don't think it is a good idea to allow defining new ones at present.

After careful consideration, I still found the ones available to ```$redact``` more useful though ```$$R

[2017-02-03 20:45] kofrasa commented on #40
Fantastic work @ksloan. Could you please do the honours of submitting a PR?

[2017-02-05 10:24] zag2art commented on #41
Looks cool, thanks. I'l take a look more carefully tomorrow.
My use case is absolutely similar the example in the above link:

Data set:
[code]

Aggregation:
[code]

Result:
[code]

So, I use `$$ROOT` in the `$group` stage, not in the `$reduct`.

[2017-02-05 15:29] zag2art commented on #41
It seems that `$reduct` expression can be resolved only to the three variables:

- $$DESCEND
- $$PRUNE
- $$KEEP

The three are only for `$reduct`, and can not be used in other stages.

On the other hand, the other two (`$$ROOT` and `$$CURRENT`) have different nature. They are accessible in the most of the stages. Look at the above example.

So, I think, maybe it's better not to include the `$reduc

[2017-02-06 06:29] kofrasa commented on #41
I concur. I found my preliminary implementation to a bit brittle and have removed the `$reduct` specific variables at the moment. I am working on making the a context available for the internal functions to avoid using globals.

[2017-02-06 20:19] #40 closed

[2017-02-07 10:57] zag2art commented on #41
Cool, thanks. It works like a charm with `$$ROOT`.

By the way, I guess the code is wrong a little bit:

[code]

It slices one extra character from the expression.

Also, It seems that `$$ROOT` should work in most cases like the `$$CURRENT`. So, one should be able to extract subfields from the `$$ROOT` the same way `$$ROOT.field`.

I think the `$$CURRENT` differs from the `$$ROOT` only for `$reduc

[2017-02-07 11:04] zag2art commented on #41
Just tried it in mongo 3.4. `$$ROOT` works like `$$CURRENT` and it can take 'subpath' after itself.

[2017-02-07 11:33] zag2art commented on #41
I've added a few tests here - https://github.com/kofrasa/mingo/pull/46

[2017-02-07 12:32] zag2art commented on #24
I thought a lot about this and it seems it would be better if we have 'collection' abstraction in `Mingo`. It would allow us to implement `$lookup` as well as `$out `and so on.

I understand that it is a big shift and leads to a lot of refactoring, but it looks like the only good solution. We might implement this seamless way. Without changing existing API. Just add something like this:
[code]

Wh

[2017-02-08 10:01] kofrasa commented on #41
Still some more work to do then. My implementation did not handle subpaths for `$$ROOT`.

I will make the update in the next minor release. Thanks for the tests.

[2017-02-08 10:28] kofrasa commented on #24
This did cross my mind a while ago but I was deterred from going with it. My concern is that it makes Mingo begin to look like a mini MongoDB database which I want to avoid as much as possible.

I believe someone mentioned a similar project `minimongo` that attempts to do and also has that update support.

Once we begin to hold collection references it opens up a can of worms of rules regarding im

[2017-02-08 21:57] #41 closed

[2017-02-09 15:18] jamesgibson14 opened #47 "Add a .get for dot notation on object."
Similar to https://www.npmjs.com/package/mongo-query#querygetobj-key

[2017-02-11 07:49] kofrasa commented on #47
`Mingo` chooses not to expose the path resolution methods directly except to those writing custom operators. Nonetheless you can access them with `Mingo._internal()` if there is a real need.

[2017-02-20 17:33] stevenvachon commented on #40
I'm getting this error with this line:
[code]

[2017-02-26 15:19] kofrasa commented on #47
This is already supported. https://github.com/kofrasa/mingo/blob/master/README.md

[2017-02-26 15:19] #47 closed

[2017-02-26 19:33] #37 closed

[2017-03-06 22:08] kofrasa commented on #24
Taking another look at this issue, it hit me that a collection abstraction is not necessary at all if we  are willing to break a bit of MongoDB convention. The `from` field can refer directly to the join collection.

Example:

[code]
In fact this is similar to what @justsml suggested above but will put the implementation of data sourcing outside of Mingo.

If a `Function` value is used, it will be

[2017-03-11 19:34] kofrasa commented on #24
Added in commit 6ae65098
Currently, the `from` field must be an array.

[2017-03-11 19:34] #24 closed

[2017-06-15 22:24] lackofbrilliance opened #49 "$where operator is not evaluated last"
The MongoDB documentation for the $where operator says that it is evaluated after all other operators:

"MongoDB will evaluate non-$where components of query before $where statements. If the non-$where statements match no documents, MongoDB will not perform any query evaluation using $where."

https://docs.mongodb.com/manual/reference/operator/query/where/

However, mingo does not evaluate $where

[2017-06-17 16:01] kofrasa commented on #49
@lackofbrilliance  I appreciate the reporting this issue and going forward to submit a PR. I have add some feedback. Just a few minor comments. I will go on ahead to merge once addressed.

Thank you.

[2017-06-21 22:31] lackofbrilliance opened #51 "With no indices given, no match against array of objects with array as a property in each object"
Given this document:
`{
    "key0" : [
        {
            "key1" : [
                "value"
            ]
        },
        {
            "key1" : [
                "value1"
            ]
        }
    ]
}`

This query will match using MongoDB version 3.2.12:
`{
    "key0.key1": {
      "$eq": "value"
    }
}`
However, mingo fails to match.

[2017-06-22 18:35] kofrasa commented on #51
This is similar to an issue I addressed in the past https://github.com/kofrasa/mingo/issues/19. Perhaps I missed an edge case.  I will run a test to verify.

Thanks

[2017-06-22 21:03] kofrasa commented on #51
Fix https://github.com/kofrasa/mingo/commit/fa67453739ad3bc7cd2bc76182e8ce15bfb92de0

[2017-06-27 17:58] kofrasa commented on #51
Will be made available in release 1.2.0

[2017-06-27 17:58] #51 closed

[2017-06-27 17:58] kofrasa commented on #49
Changes merged in. Will be available in release 1.2.0

[2017-06-27 17:58] #49 closed

[2017-07-18 06:28] stalniy opened #52 "Partial use"
The minified file of the library is currently 30+ kB. Is there a way to use only operators and functions which I need? can I compile my own version of the library with help of tools like `rollup` or `webpack`?

It'd be good to provide ES6 version of the lib, so people will be able to use tree shaking and remove code which they don't use

[2017-07-18 08:39] stalniy opened #53 "ObjectId comparison"
this returns wrong result:
[code]
I expect both checks to return true.

Is there anyway to check equality of `ObjectId`s?

[2017-07-18 14:19] kofrasa commented on #53
Thanks for report @stalniy

Unfortunately, `mingo` only tests for identity when custom objects are supplied. It has no knowledge of the native MongoDB `ObjectId` type.

That said, it makes sense to run custom equality checks for values of the same type on a best effort basis such as: comparing their `toJSON()` or `toString()` methods if present. I will consider this in the next version.

You can t

[2017-07-18 14:24] kofrasa commented on #52
Thanks for the ask @stalniy

This work has been on my radar for a while since I initially built this library to target the browser. The options were:

1. Split library into multiple modules
2. Enable custom builds via a simple bundling tool

My preference is for option 2 however, I found the tools available generally try to do too many things which make things a bit complicated.

I have also exper

[2017-07-18 17:27] stalniy commented on #52
the easiest option is to use `rollup` + `babel` + `babel external helpers plugin`

[2017-07-19 02:38] ericfong opened #54 "Query for Null or Missing Fields"
Thanks for your package first. That is really amazing.

I found that the behavior of `find({ someField: null })` is not same as mongodb

https://docs.mongodb.com/manual/tutorial/query-for-null-fields/

in which null should also match with `undefined` field.
Shall mingo align that with mongoDb spec? Or that is expected behavior?

BTW. I have done a little benchmark and found that is much faster tha

[2017-07-19 05:46] kofrasa commented on #54
Hi @ericfong ,

Thanks for reporting this, it is definitely a bug. I am doing some work to move into the new age of es6 ;). I should be able to throw in a fix fairly quickly but a pull request is also welcome.

I appreciate the tiny benchmark done. I am happy to know `Mingo` is not lagging behind in performance given I have mostly prioritized features and MongoDB compatibility. :)

[2017-07-20 00:23] kofrasa commented on #52
Current port residing here. https://github.com/kofrasa/mingo/tree/dev-es6

A lot has change since I last looked at the ES6 landscape. I am very impressed with the latest tooling (`rollup` + `babel`). The generated code for `babel` has improved significantly.

Version 2.0.0 will support ES6 modules. Just a little bit of work left and this will merged into the main dev branch.

[2017-07-20 07:29] stalniy commented on #52
Awesome! If you need help with rollup configuration to display correct coverage you can check my repository https://github.com/stalniy/casl/tree/master/tools

[2017-07-23 17:24] #52 closed

[2017-07-23 17:24] #53 closed

[2017-07-23 17:24] #54 closed

[2017-07-23 17:33] kofrasa commented on #52
This should now be available on npm `v1.3.0`

[2017-07-24 05:22] ericfong commented on #54
Thanks a lot.

[2017-07-24 13:00] darknos opened #55 "move core-js from devDependencies to dependencies in package.json"
otherwise it does not work with npm install --production

[2017-07-24 15:02] kofrasa commented on #55
True that thanks @darknos

This is a bug I blindly introduced just before the release, by stripping out the `node-resolve` and `commonjs` plugins.

[2017-07-24 15:43] stalniy commented on #53
@kofrasa ObjectID comparison was not completely fixed. There are several cases which doesn't work:
[code]

[2017-07-24 16:45] kofrasa commented on #53
Hi @stalniy

User-defined types can only be compared on a best effort basis with the requirement that operands are of the **same type** (see my earlier comment), so this expected behaviour.

That means comparing `ObjectId` against `String` will not work. However, two identical `ObjectId` values will compare correctly (as your second tests show). Previously, the only check for identity was using th

[2017-07-24 19:13] #55 closed

[2017-07-26 05:07] stalniy commented on #53
Probably the best option is to allow to specify custom comparator for client types. For `ObjectId` it may look like:
[code]

Then
[code]

what do you think?

[2017-07-26 22:21] kofrasa commented on #53
This pattern can be confusing. I presume the use will be such: For unequal types, check whether the type name of any of the operands has a comparator. Use that to compare the types.

The problem lies in checking either operand (what order?). If the operands aren't restricted to be of the same type, then one can also mistakenly register different types which compare against each other circularly.

[2017-07-27 19:16] serby opened #56 "Mingo.setup() removed"
I use `setup` to change the default key from `_id`. Since the ES6 refactor this is no longer possible.

`assert(typeof require('mingo').setup === 'function') Fails`

The readme shows setup `setup()` If it was intended to be remove this should be updated.

[2017-07-28 11:48] kofrasa commented on #56
Thanks for reporting this bug @serby.

The setup function was not exported after the major refactoring to ES6. See [index.js](https://github.com/kofrasa/mingo/blob/1a6fa8e3f7cddde93c3b7779edcb70b37b96c25d/lib/index.js)

[2017-07-28 21:03] #56 closed

[2017-07-28 21:52] balaclark commented on #56
Thanks for this

[2017-07-28 22:04] enochN commented on #56
Nice

[2017-07-29 08:45] kofrasa commented on #56
Fixed in `v1.3.2`.

In the next major version, I may consider setting the default key to `id` rather than `_id`.  I think that is typical of objects in an in-memory collection, and also because `mingo` was initially written to be used in a fronted application where the `id` convention is most common.

[2017-08-13 14:07] leoncc opened #57 "Passing Criteria as a parameter to query.test"
Hi,

This works (on NodeJS 7.7):
[code]
and produces:
[code]
The below throws an error *Criteria must be of type Object*. The issue is obviously that *criteria* is initialized as a string and not an object. In my use case I need to read the criteria from a database and from the database it comes back as a string. Is it possible to to this? I know it might be trivial question.
[code]
Thanks
Leon

[2017-08-13 15:32] kofrasa commented on #57
For valid JSON strings you could use `JSON.parse`, otherwise if you trust the source of the data, you can use `eval` (btw, this is NOT recommended)

For example:
[code]

using eval
[code]
See: https://stackoverflow.com/questions/9036429/convert-object-string-to-json

[2017-08-13 16:44] leoncc commented on #57
I tried JSON.parse, but experienced issues, for instance with the value part of $regex. eval works fine however - Thank You!!!! I substituted it with the "safe-eval" npm package.

[2017-08-13 16:44] #57 closed

[2017-08-13 17:49] ericfong opened #58 "webpack+UglifyJs build fail because of picking of the es6 version of mingo"
After `mingo` `package.json` added `"module": "index.js"`, webpack seem will pick `index.js` as the entry point and which is es6.

However, the [UglifyJs](uglifyjs-webpack-plugin) will complain because it is not es6 ready???
[code]

After I deep into line 9081, I find that UglifyJs complain about default value for arg `= null`
[code]

I tried using babili-webpack-plugin instead of uglifyjs-webpack

[2017-08-13 18:01] kofrasa commented on #58
Thanks for the report @ericfong

Can you please confirm if you get the same issues using the previous version `1.3.3`.

I want to confirm that this is due to porting to es6 and not because of moving the `index.js` to the project root since the contents have barely changed.

[2017-08-13 18:10] kofrasa commented on #58
There is tutorial here on how to use webpack with es6

[2017-08-14 03:13] ericfong commented on #58
Thanks for your tutorial.

I confirm that
version `1.2.0` success
version `1.3.0` fail

I think the problem come from my webpack setting
[code]
I am expecting that npm modules will export an es5 friendly release. (I am not sure that is a norm or not)

If I remove the exclude setting, babel will re-compile all node_modules. And some node_modules' .babelrc depend on some plugins that not installed

[2017-08-14 07:00] kofrasa commented on #58
Sounds like you found a nice workaround. I use rollup for `mingo` and the distribution provides a compiled UMD-style version in `dist/mingo.js`.

The approach you described appears to be the simplest. Library authors should be vending the es5 compiled versions along with the es6 sources so excluding `node_modules` and setting `modules: false` should work fine. I assume that will load the file at t

[2017-08-14 14:59] ericfong commented on #58
I finally solved by install [webpack-babel-env-deps](https://www.npmjs.com/package/webpack-babel-env-deps)

Thanks

[2017-08-14 14:59] #58 closed

[2017-09-03 10:48] Redsandro opened #59 "$lookup should reference join collection instead of clone data."
I'm not sure what's happening in [lookup.js](https://github.com/kofrasa/mingo/blob/34c5ac7ba9a9409610eb72cc5ae19306a429c08b/lib/operators/pipeline/lookup.js):

[code]

I'm confused by this specifically:

`obj[asField] = map(indexes, (i) => clone(joinColl[i]))`

Is the `$lookup` data being cloned, or added by reference?
Cloning, of course, is trivial for small datasets but huge (unnecessary) overhe

[2017-09-04 00:05] kofrasa commented on #59
Hi @Redsandro

Thanks for the question.

Without a doubt, there is a performance hit with cloning. Although `mingo` only implements querying, it does make some transformations as well. I decided to use cloning in order to avoid surprising users by changing their original data structure unexpectedly. This is not unique to `$lookup`. All operators that transform data do not do so in place and must c

[2017-09-04 14:00] Redsandro commented on #59
Thanks for the detailed reply @kofrasa.

Before I comment, I want to emphasize that I don't know what exactly is cloned and how it's transformed. So some or perhaps all of my thoughts might not make sense.

To be honest, I haven't yet tried `mingo`. I am researching possibilities to improve my application by not having to wait for `mongodb` writes before I can query them. Let's say that in a heavy

[2017-09-04 14:08] Redsandro commented on #59
Would you be willing to explain what data is being cloned/transformed when and how, on the `readme.md`?

[2017-09-04 22:32] kofrasa commented on #59
Hi @Redsandro

The [pipeline operators](https://docs.mongodb.com/manual/reference/operator/aggregation-pipeline/) `$unwind`, `$lookup`, `$redact`, `$addFields`, and `$project` reshape objects. Cloning is used to guarantee that the underlying collection is not changed. This is a hard requirement for any query engine, even an in-memory one. A query should not mutate the input dataset.

For a dataset

[2017-09-05 10:39] Redsandro commented on #59
Thanks @kofrasa.

Does the clone function check if data was previously cloned? Understanding the need to guarantee that the underlying collection is not changed, I believe that cloning should happen a maximum of 1 times in the entire pipeline, and it could/should be postponed until absolutely necessary, making it possible to construct pipelines with minimal cloning.

Let's take `$project` for exam

[2017-09-05 12:48] kofrasa opened #60 "Return new object for $lookup pipeline operator"
Lookup modifies the input object rather than return a new object with reference to the input data.

https://github.com/kofrasa/mingo/blob/master/lib/operators/pipeline/lookup.js#L43

[2017-09-05 14:21] kofrasa commented on #59
To answer you question, the clone function does not maintain state.

Cloning currently happens on-demand but for each stage. I considered the approach of cloning once and then keeping a history for subsequent stages but opted out due to the complexity and significant code size introduced. Even with that in place, it won't address the `$lookup` case since the collection being cloned is the secondar

[2017-09-05 14:49] Redsandro opened #61 "Option to modify the pipeline documents for $lookup"
There should be an option to modify the input objects and add a reference to the lookup data, rather than return new (cloned) objects.

This way, if there has been a `$project` stage, we can safely opt-out of cloning again.

See #59.

[2017-09-05 14:49] Redsandro commented on #60
There should be an option to modify the input objects and add a reference to the lookup data, so neither of them are cloned. See #61.

[2017-09-05 14:49] Redsandro commented on #59
Thanks for your elaborate response @kofrasa.

Fixing this clone step adds a huge performance gain foor `$lookup` and will indeed address my use-case. Thank you.

Am I correct to assume the following?

* `query.find(collection)` => No cloning
* `$match` => No cloning
* `$project` => shallow cloning (single values are copied, objects are referenced)
* `$lookup` =>
  * pipeline collection =>
    * sh

[2017-09-05 18:14] kofrasa commented on #59
I think it is better to keep things simple.

The fix for #60 will make the extra option unnecessary for most operators.

[2017-09-06 06:44] #59 closed

[2017-09-06 06:44] #60 closed

[2017-09-06 06:57] Redsandro commented on #59
Thank you for the commit. It is appreciated.

I didn't mean to propose a change, but I was wondering if I have the correct assumptions in the above list.

[2017-09-06 07:18] kofrasa commented on #59
Spot on @Redsandro.

Your assumptions are correct and I very much like the breakdown. It describes how things should work.

[2017-09-06 07:25] kofrasa commented on #61
In view of #59 and #60 I think this no longer applies. `$lookup` does not perform a deep clone on the inputs.

Please let me know if I have missed something. If not feel free to close the issue.

Thanks

[2017-09-06 07:26] Redsandro commented on #59
@kofrasa what is the `idKey` used for?

[code]

Or rephrased (for relevance to this topic):

(How) do `find()`, `$match` and `$lookup` use this? Are these functions optimized using this index in any way, e.g. finding by `_id` being faster than a lazy/lodash/underscore `where` filter?

[2017-09-06 07:44] Redsandro commented on #61
I'm not sure. First, lets establish we use the same semantics. 'Inputs' is ambiguous when having two collections.

Let's assume the collection from the (previous step in the) *pipeline* is called the `pipeline collection` and the collection from the *lookup* is called the `lookup collection`.

I'm assuming (correct me if I'm wrong) that now:

* `pipeline collection` is shallow-cloned.
* `lookup co

[2017-09-06 07:49] kofrasa commented on #59
`idKey` refers to field that uniquely identifies the objects in the collection.

It is used in a few operators (e.g. `$project`) that requires it. The default name `_id` was used to be consistent with `MongoDB`.

No indexing is currently done with that field. Unless the index is required for several different operators (which I don't think it is), the performance for building and using one just fo

[2017-09-06 08:10] kofrasa commented on #61
Shallow-cloning the `pipeline-collection` is the default [here](https://github.com/kofrasa/mingo/blob/master/lib/operators/pipeline/lookup.js#L43).

Surely, there is a performance hit, but I would argue this addresses 99% of use-cases. The cloning is just a new object populated with the fields and values of the old object.

The `lookup-collection` should be referenced (forgot to remove the `clone`

[2017-09-06 09:03] Redsandro commented on #61
Fair enough. I think you are correct. :+1:

With the side-note that you probably mean 99% of use-cases within the current audience, being small and medium datasets. Because high performance in-memory big datastores like [`redis`](https://github.com/antirez/redis) are hugely popular.

For high performance collection querying in node.js without separate servers (redis) there is [`LokiJS`](https://gi

[2017-09-06 09:03] #61 closed

[2017-09-06 09:25] Redsandro commented on #59
Ok gotcha.

@kofrasa said:

For complex matches or selecting a lot of documents, you are right. But for `findOne()` or matching a unique value like `_id`, creating an index is more performant when you do more than 2 lookups (3+).

Let me illustrate using `$lookup` as an example, as it is less dependent on use-case.

Say you have only 100 documents in the pipeline, and you want to do an `_id` based

[2017-09-06 13:35] kofrasa commented on #59
I think I understand what you mean. Please see the `$lookup` implementation [here](https://github.com/kofrasa/mingo/blob/master/lib/operators/pipeline/lookup.js). There are a few implementation details that can be done but the general idea remains unchanged.

For a collection of 100 documents and join collection of 10,000 `mingo` will peform 10,100 iterations not 500,000.

Generally, given a pipel

[2017-09-06 15:50] Redsandro commented on #59
Ah, fantastic. Please forgive my ignorance.

Your `hashCode` lookup is basically what I meant with on-the-fly throw-away index, except I'd write an index rather than a hash table. For no particular reason, just a first thought. Arrays are faster but hashing is slower.

I think you thought about things a lot, and it's a good bet to try and use this inside node.js. Since collections don't need to be

[2017-09-06 16:27] Redsandro opened #62 "Thoughts on hashing optimizations"
Your hasing function looks like the `hashCode` algorhythm. That correct?

### Hypothetically

Would you be willing to have any dependencies?
Would you be willing to have different dependencies for the `npm/node.js` version?

* `murmurhash3` (pure javascript) is about 140% as fast as `hashCode`.
* `cityhash` (c++ node.js module) is about 280% as fast as `hashCode`

[2017-09-06 21:36] kofrasa commented on #62
I am not keen to take on a dependency. The current hash function can be optimized a bit more or substituted for a reasonable fast but small alternative.

Keeping the code size small is very important. I think if you want to use some features from `mingo` with an very optimal implementation, you can roll out your own custom operator. If your dataset is very large and you aren't in the browser, then

[2017-09-06 22:43] kofrasa commented on #62
I am quite curious to know how you came to these numbers. `hashCode` is generally considered a good enough (in both speed and collision resistance) for simple cases.

[2017-09-07 09:20] Redsandro commented on #62
@kofrasa said:

Ok, I can understand that. We differ on persective a bit and that's fine. Is making the hash function extensible an interesting alternative? Everything would work as it works now, except you could optionally overrule the function like this:

[code]

`mingo` could be used as is, or with a js library for browser implementations, or with a node library for node implementations. Everyo

[2017-09-07 10:16] kofrasa commented on #62
Thanks for the benchmarks.

While we have numbers, it makes sense to take the fastest and relatively smaller algorithm.
`string-hash` in particular was up for consideration when I choose the hash function, but I run no benchmark. From the data, the speed is uncontested however, we don't know about how collision resistant it is. This may have influenced my choice at the time but I do not remember.

[2017-09-07 10:52] Redsandro commented on #62
Ok, gotcha.

[code]

:wink:

Am I correct to assume that your preferences for `mingo` make it unlikely that you'll accept PRs in the future related to small* performance optimizations or extensibility of internals?

*) 'small' as in trivial for smaller datasets (e.g. todo-list), but relevant for larger datasets (e.g. data analysis)

[2017-09-07 10:52] #62 closed

[2017-09-07 11:51] kofrasa commented on #62
PR's are welcome (fixes, new operators, internal improvements etc), but like any dev work, they are subject to project constraints.

This project environment is bias towards the browser, that means it should have a small footprint, be reasonably fast, provide the most useful query features.

There are numerous alternatives on the server side of things including using an actual MongoDB database wit

[2017-09-07 16:09] Redsandro commented on #62
Yes, although jsperf has been `502` all day. I'll try when it's up again.

[2017-09-08 14:59] saadtazi opened #64 "$concatArrays should not limit to 2 elements"
Hello,

According to [the mongodb documentation](https://docs.mongodb.com/manual/reference/operator/aggregation/concatArrays/index.html), $concatArrys operator allows multiple elements.

But mingo only allows 2 elements:
https://github.com/kofrasa/mingo/blob/34c5ac7ba9a9409610eb72cc5ae19306a429c08b/lib/operators/expression/array.js#L71

repro step:

[code]

this throws an exception:

[code]

Note

[2017-09-08 16:15] kofrasa commented on #64
Thanks for reporting this @saadtazi.

I am not sure why I bound it to two arrays.  Please feel free to submit a PR.

Thanks.

[2017-09-08 17:28] saadtazi commented on #64
I'll give it a try this week-end.

[2017-09-08 17:49] saadtazi opened #65 "internal.computeValue() throws if keys is not present under certain circumstances"
Repro step:

[code]

Thrown exception:
[code]
It seems like computeValue is trying to find a property `a` in `'some prop'`.

[2017-09-08 19:40] kofrasa commented on #65
Thanks for the report.

Looks like a validation bug in the `resolve()` function most likely from not returning early given `null` or `undefined` input.

Maybe you can take a stab at this too if you are keen.

[2017-09-09 01:33] saadtazi opened #66 "runTest tests are generating false-positives"
I found out that [this line](https://github.com/kofrasa/mingo/blob/master/test/support.js#L46) is causing problem: some `runTest` tests that are suppose to fail are not failing because you are comparing `0` with `0` because `isNaN('a string')` or `isNaN([1, 2])` returns true: all the tests that tries to compare strings or arrays are not valid.

*repro step:*
Try to modify any `runTest` test in `te

[2017-09-09 03:48] saadtazi opened #69 "aggregate `$project` mongoDB discrepancy"
I noticed a difference between mongodb and mingo behaviour:
[code]
Notice that `l3` is not an array of array.

It is probably related to [this line](https://github.com/kofrasa/mingo/blob/master/lib/internal.js#L204).

I don't consider this a problematic issue, I just wanted to let you know...

[2017-09-09 05:01] kofrasa commented on #69
Thanks.

I will mark it as a bug for now.

There a few edge cases in `MongoDB` that `mingo` doesn't cover. The lack of a spec means we are left with reverse engineering by comparing outputs of many examples.

Please what version of `MongoDB` did you test with?

[2017-09-09 05:13] kofrasa commented on #66
Thanks.

Your fix is correct. I skipped the fact that other types with `isNaN` evaluate to true.

Will look at and address the broken operators

[2017-09-09 10:45] saadtazi commented on #69
mongodb v3.4.6 (the official mongo:3 [Docker image](https://hub.docker.com/r/_/mongo/))

[2017-09-09 20:50] #65 closed

[2017-09-09 20:50] #66 closed

[2017-09-09 21:09] kofrasa commented on #64
fixed https://github.com/kofrasa/mingo/commit/8bfb08366e259e5c4140f7d292fff3555fc046e0

[2017-09-09 21:09] #64 closed

[2017-09-12 16:28] saadtazi opened #70 "$regex not working as expected with arrays"
When trying to `find()` a property that is nested in an array of arrays, the record is not returned if the child array has more than one element and one or more of those elements match.

Repro steps:
[code]

[2017-09-13 07:29] Redsandro commented on #62
@kofrasa

jsperf is finally up again. I've added the test. I also found that I made some mistakes in the string-hash test in 2015, it's so fast because it breaks early.

Here are the new tests: https://jsperf.com/murmurhash3-vs-xxhash

And you're right. Your implementation of hashCode is faster.

![image](https://user-images.githubusercontent.com/1702193/30364348-2257e592-9864-11e7-957f-abbd8bd5b3

[2017-09-13 20:11] #70 closed

[2017-09-13 22:01] Redsandro opened #71 "$group operators should work in parallel"
`$group` operations are insanely slow. Grouping 3000 documents to 25 properties _from memory_ takes about 15 seconds on my laptop. This operation takes 0.1 second _from disk_ in mongodb.

One of the problems seems to be that every `OP_GROUP` operators (`$sum`, `$push`, custom operators, etc) each iterate the collection for themselves. This means that 3000 documents are iterated 25 times.

The coll

[2017-09-14 13:40] kofrasa commented on #62
I had doubts about this find, so I decided to write my own benchmark. It follows closely what you have in JSperf but can be run be locally.

All the algorithms compare well, however `hashCode` gives the most preferred results for time and collision. It is also well behaved and has less variation between runs for different inputs.

The benchmark excludes the actual first run for each algorithm, whi

[2017-09-14 17:19] kofrasa commented on #71
Thanks for the report @Redsandro

Modern Javascript engines execute the user code in a single thread except, optionally I/O operations, so unfortunately truly parallel computation does not happen unless one forks to another process. Unfortunately, that is out of the scope of `mingo`.

Also, `mingo` performance cannot be compared to `mongodb`, which is written in C++ and operates in a different env

[2017-09-15 06:58] kofrasa commented on #62
After some tweaks and a few more runs, it turns out the XOR version of the `djb2` algorithm provides better performance per collision.

[2017-09-15 17:35] Redsandro commented on #71
Sorry for getting back to you so late. I had to make a custom implementation for my use-case, and that was not simple.

The facts you listed in the first half of your post are true, but frankly, irrelevant to the issue. I've previously identified the problem quite clearly. Mingo does traverse the entire collection _once per group operator_. This is killing. The collection should be traversed _only

[2017-09-16 08:14] kofrasa commented on #71
The query you provided is quite elaborate. For most scenarios, custom code will yield better performance however, it should be possible to only use facilities in `mingo` that make sense. In your example, that could be the `$match` and `$project` parts.

I understand the data is NDA protected but it should be straightforward to write a generator for data of a similar shape which will make reproduci

[2017-09-16 14:32] Redsandro commented on #71
:+1:

True, but operators are like kids. You give them breakfast on the same table, bring them all to the same school in the same car with the same car ride. They don't have to eat the same sandwich and bring home the same drawing though.

What `mingo` currently does is having separate tables set for the kids, and use separate rides to drive them to school individually. Unless there's a big issue

[2017-09-22 15:13] javiercbk opened #72 "cloneDeep is not cloning all properties when cloning a boolean with false value"
From the [$addField](https://docs.mongodb.com/manual/reference/operator/aggregation/addFields/) mongo documentation

[code]

[2017-09-23 18:49] kofrasa commented on #72
Hi @javiercbk

Thanks for reporting this.

Please can you confirm if you are using the latest version of `mingo`.

I get the expected output using the latest version `2.0.2`.

[code]

[2017-09-23 19:09] javiercbk commented on #72
Actually you're right. I'm so sorry for wasting your time, it must be an error on my side.

I'm wrapping your library as a mongo driver and I'm trying to add support to `$lookup` aggregation operation (with the concept of named collection). So I came across with this error yesterday and after a quick debug I thought I pinpointed the error in mingo, but now I can see it is my mistake.

Thanks again

[2017-09-23 21:19] javiercbk commented on #72
I've found the issue, the problem is the `cloneDeep` function, it is not cloning the property.

<img width="486" alt="screen shot 2017-09-23 at 6 18 55 pm" src="https://user-images.githubusercontent.com/1448426/30777193-ba84fcc2-a08b-11e7-80ab-5e231ab8f52f.png">

[2017-09-24 15:22] javiercbk commented on #72
Pinpointed the issue, when an object has a boolean property with `false` value, cloneDeep will break and stop cloning properties.

[code]

[2017-09-24 20:30] kofrasa commented on #72
I think I have spotted the bug. This is coming from a function depended on by the cloneDeep implementation. Will fix soon

[2017-09-25 10:19] #72 closed

[2017-10-15 09:12] marbemac commented on #58
For those using webpack, you can just toss this into your setup, where config is your webpack configuration object. I'm using lodash here, but you get the idea!

[code]

[2017-10-18 16:13] javiercbk opened #73 "$add is not compliant with dates"
From mongo documentation:

"Adds numbers together or adds numbers and a date. If one of the arguments is a date, $add treats the other arguments as milliseconds to add to the date." [documentation link](https://docs.mongodb.com/manual/reference/operator/aggregation/add/).

The current implementation just sums values, this change would make it work as intended

[code]

[2017-10-18 17:32] javiercbk opened #74 "Allow replacing existing operators"
Currently the library does not allow to replace existing operations. I believe that replacing an existing operations is a great way to patch something for my use case, why wouldn't allow it?

For example, I reported #73 and I wanted to quickly patch the operation without forking the library but I cannot due this check:

[code]

[2017-10-18 20:59] kofrasa commented on #74
Replacing existing operators is not allowed to avoid unpredictable behaviour. Some operator implementation depend on others internally. If a standard operator is not working as expected, then it should be reported as a bug.

Alternatively you can provide your own [custom operator(https://github.com/kofrasa/mingo/wiki/Custom-Operators) to extend the existing operators for new functionality, or as a

[2017-10-19 04:04] #73 closed

[2017-10-19 12:40] javiercbk commented on #74
Ok, thanks. I believe this issue will be reopened if more users of this library needs want this beheviour.

As a final statement, I think that if you (developer) are replacing an existing operator, you know that you are introducing a something that might break the library.

Thanks.

[2017-10-19 12:40] #74 closed

[2017-12-11 18:15] kofrasa commented on #69
Fixed since `v2.0.2` in https://github.com/kofrasa/mingo/commit/bc2107f6ec01c6b01b7e1f99ea6e915b0d0581c5

[2017-12-11 18:15] #69 closed

[2017-12-15 19:40] kofrasa opened #76 "Support lazy evaluation and iterable input sources for performance"
## Problem
`Mingo` has a great feature set for transforming collections using MongoDB queries, however it is still quite slow for large datasets (#71) when compared to other Javascript utility libraries.

It is also currently unsuitable for use cases that require streaming query results as they are computed see #38. The current iterator interface on `Cursor` with `next()` and `hasNext()`is only a

[2017-12-18 05:46] kofrasa commented on #38
Added in  v`2.1.0`. See https://github.com/kofrasa/mingo/wiki/API

[2017-12-18 07:41] #38 closed

[2017-12-18 07:42] kofrasa commented on #38
For special cases (`$sort`, `$group` etc) the entire sequence is realized, processed, and a new iterator (stream object) is returned.

[2017-12-18 16:36] kofrasa opened #77 "Implement $mergeObjects operator"
https://docs.mongodb.com/manual/reference/operator/aggregation/mergeObjects/

[2018-01-11 07:43] kofrasa commented on #76
[v2.1.1](https://github.com/kofrasa/mingo/releases/tag/2.1.1) adds support for Lazy evaluation under the hood.

More performance improvements will follow in `v2.2.0`

[2018-01-11 07:43] #76 closed

[2018-01-25 19:31] kofrasa commented on #71
Latest version should have significant performance improvements to address some of the concerns. This particular example is a special case for which a custom operator is most suitable.

[2018-01-25 19:31] #71 closed

[2018-02-24 16:15] Redsandro commented on #71
Good to hear @kofrasa :+1:

[2018-03-03 13:20] #77 closed

[2018-04-05 12:45] felipecarrillo100 opened #79 "Add support for $expr"
[mingo.zip](https://github.com/kofrasa/mingo/files/1880004/mingo.zip)

I have modified the mingo.js   from the distribution directory to support the $expr operator.

This operator is introduced in Mongo 3.6 and it allows to use expression (such as arithmetic operations) in a  query.  It also allows comparing 2 fields against eachothr.

Example:
{"$expr":{"$gt":[{"$multiply":["$value1", 2]}, "$valu

[2018-04-10 09:45] kofrasa commented on #79
Thanks for the contribution @felipecarrillo100 I will take a look at this soon.

[2018-04-13 08:32] kofrasa commented on #79
Added in commit https://github.com/kofrasa/mingo/commit/4a75f03c20c4e6df7ecde328ceec5a03715efd5e

This will be going in the `2.2.1` release. You can play around with the changes in `branch:development`

[2018-04-14 08:45] #79 closed

[2018-04-14 08:46] #35 closed

[2018-04-14 08:48] kofrasa commented on #18
There are no plans to implement this as part of this library. Another library extending `mingo` with the necessary custom operators will be most appropriate.

[2018-04-14 08:48] #18 closed

[2018-04-16 13:21] felipecarrillo100 opened #80 "$unwind does not work when there is an array inside an object. i.e { $unwind: "$a.sizes" }"
$unwind does not work when the array is inside an object. For instance if the array is inside object a, as in the example below:
                var data = [
                    { "_id" : 1, "item" : "ABC", "a":{"sizes": [ "S", "M", "L"] }},
                    { "_id" : 2, "item" : "EFG", "a":{"sizes" : [ ] }},
                    { "_id" : 3, "item" : "IJK", "a":{"sizes": "M"} },

[2018-04-17 06:53] #80 closed

[2018-04-17 18:08] felipecarrillo100 opened #81 "Agregator.run works only once"
If you create an aggregator using new mingo.Aggregato it will only work once.  You need to create a new agregator every time after calling run.. A second call to run produce a wrong value.

Is this the expected behavior?  I would expect the same aggregator can be reused many times.  See example below:

// Example:
let agg = new mingo.Aggregator([
    {'$match': { "type": "homework"}},
    {'$group

[2018-04-19 08:09] kofrasa commented on #81
Thanks for the report @felipecarrillo100

This is regression introduced after optimizing the internals of the aggregation function with lazy evaluation.

`mingo.Aggregator` should be reusable just as `mingo.Query`. Will look at this soon

[2018-04-19 08:54] kofrasa commented on #81
Can you post the results of the first and second calls?

[2018-04-19 12:46] felipecarrillo100 commented on #81
I'm using my own data and it is a bit large to paste here. So instead, I have made a small sample. Find it here attached, Run the index.html in your browser. The code is located at js/main.js

FIRST, Go to the bottom of the table and click in the search button, then you can see in the console the results for "call 1", "call 2". and "call 3". Call 1 produce the expected value,  call 2 produce the e

[2018-04-19 12:59] felipecarrillo100 commented on #81
Sorry, I didn't mean to close it, I typed the wrong button....

[2018-04-19 13:14] felipecarrillo100 opened #82 "Aggregator $unwind operates on input variable when input variable contains circular links"
I'm also having issues with the aggregator when the input array contains circular links. When the input contains circular arrays the $unwind operation seems to modify the input variable instead of making a clone,

As a consequence some of the fields of the input variable are overwritten, after the $unwind operation.
For instance if you $unwind an array nested in a variable your will have the array

[2018-04-19 20:07] kofrasa commented on #82
What version of `mingo` are you running?

[2018-04-19 20:34] kofrasa commented on #81
I haven't been able to reproduce this. When I tested with the data from #82 it seems to work fine.

[code]

Reviewing the code the optimisations I mentioned should not have caused a regression.

[2018-04-19 20:41] felipecarrillo100 commented on #81
Try the sample i provided. There you can reproduce.

On Thu, Apr 19, 2018, 10:35 PM francis <notifications@github.com> wrote:

[2018-04-20 19:41] felipecarrillo100 commented on #82
I'm using the very latest version.

This is a hard one to reproduce,  it is happening in the context of my application, so perhaps the error it at my side, the array containing the data has circular links and other stuff.  I will close this issue and let you know later if I find a straight forward way to reproduce.

[2018-04-20 19:41] #82 closed

[2018-05-07 03:46] voxsoftware opened #83 "There is an update mongo style language implementation?"
This is not a bug. Is a question. Like query language, there is an update mongo style language implementation?

[2018-05-07 07:32] kofrasa commented on #83
There are no update operators in `mingo`. The scope of the library is only for querying in-memory collections and updates will not be supported in this same package.

That said, there are dependent libraries that have update support.

https://www.npmjs.com/package/save
https://www.npmjs.com/package/%40creately%2Fmungo

[2018-05-07 19:50] #83 closed

[2018-07-06 06:40] p3x-robot opened #84 "DeprecationWarning: collection.count is deprecated, and will be removed in a future version. Use collection.countDocuments or collection.estimatedDocumentCount instead"
Hello!

How are you?
Do you think (I could not find it quickly), that we could add the new version as an `countDoc` and `estimatedDocumentCount` like `Mongoose`?

Thanks!

[2018-07-10 06:01] kofrasa commented on #84
Hi @p3x-robot thanks for taking the time to open an issue. I don't think there is a problem to be address.`mingo` does not have a concept of collection. The `count` implementation on the `Cursor` is correct and need not change. The issue described in the `MongoDB` docs is unrelated, and the recommended counting strategy is already available via `$count` aggregation operator. I see no value in addi

[2018-07-10 06:03] #84 closed

[2018-09-09 13:50] kofrasa opened #87 "Add `$$REMOVE` support to conditionally exclude fields"
Support excluding projected fields conditionally. https://docs.mongodb.com/manual/reference/operator/aggregation/project/#remove-example

[2018-09-09 14:02] #87 closed

[2018-09-19 10:41] Sleavely opened #88 "Why is lodash a dependency?"
I looked at package.json and it looks like lodash is being required, but not used anywhere within the repository. How come?

[2018-09-19 14:08] kofrasa commented on #88
`Mingo` has zero production dependencies. `Lodash` is currently listed as a "devDependency" which I probably used in an old revision for testing. I have since switched to implementations from `Mingo` internals. I should make sometime to cleanup the unused "dev" dependencies.

If you are using `Mingo` in production, it does not require Lodash.

[2018-09-19 14:08] #88 closed

[2018-09-20 10:40] graycrow opened #89 "Question: $objectToArray expression must resolve to an object"
I want to use Aggregation in order to filter an array of objects by the property of a sub object. The problem is that this sub object is not a plain object, but a "class" with a constructor (which boils down to a named function, essentially). Because of this $objectToArray fails with an error `$objectToArray expression must resolve to an object`. It checks if `v.constructor.name` is equal to `obje

[2018-10-08 05:54] kofrasa commented on #89
Perhaps enforcing collection objects to be vanilla JS objects may be too strict, but it might be ok to shift that burden to users. Am happy to accept a PR

[2018-10-10 21:12] stalniy opened #90 "Provide possibility to use only specific operators"
Hello,

You are working on the awesome project :) And I'd like to use it inside my library. The only issue is bundle size.

So, I want to request possibility to use only specific query operators. For example, I want to use only query operators and simple operators. I don't need projection, agregation, etc.

Do you think you can extract that in some `core` bundle and deliver it separetely (at least

[2018-10-10 21:14] stalniy commented on #90
Currently minified version of library is `34.3 KB`. I would like core to be around ~ `5-7KB` :)

[2018-10-12 06:13] kofrasa commented on #90
Hey @stalniy, I agree with you that this should perhaps be split across different modules.

That has been my plan from the start which gave birth to [mingo-geo](https://github.com/kofrasa/mingo-geo) and [mingo-stream](https://github.com/kofrasa/mingo-stream) packages even though they haven't seem much development since.

I think why I didn't pursue this fully was that the operators weren't that ma

[2018-10-12 06:59] stalniy commented on #90
The easiest way is to use submodules. You can see an example in my repo for `CASL/ability` package (https://github.com/stalniy/casl/tree/master/packages/casl-ability). There is a core + extra package. So, if I want to use only core:

[code]

If I want to use both:

[code]

I’d recommend not to split the package into separate npm packages because it will increase infra & support overhead.

[2018-10-12 20:08] kofrasa commented on #90
I will look into the module approach. Thanks

[2018-11-20 13:47] nepturial opened #91 "Can't use projection in subdocuments array"
I have a problem projecting multiple properties of a document from an array

Example:

[code]
I just want the **id** and **name** of the objects from array, not the others properties but the example will return the last, only the name...

[2018-11-20 16:45] kofrasa commented on #91
Hi @nepturial

Thanks for reporting this bug. The query is definitely returning the wrong result. I verified the expected output from MongoDB. Will take a look at this soon. It seems to have to do with how objects are merged, which does not work right for deeply nested values.

[2018-11-21 11:07] kofrasa commented on #91
You are welcome. I actually need to rework the merge function a bit more, but the current fix in `2.2.5` should address the issue you are facing. I will make another release that handles more edge cases later today.

[2018-11-30 01:20] Discordius opened #92 "$in operator doesn't properly work for null (similar to $eq issue a few months ago)"
A few months ago we had the following issue: #54

The fix seemed to fix it for the $eq query, but turns out there is another way of querying for null fields, which is with the `$in` syntax. We use this all throughout our codebases to check booleans for null values, like this: `field: {$in: [null, false]}`.

Against Mongo this works fine for undefined fields, but with Mingo this will not properly m

[2018-11-30 05:33] kofrasa commented on #92
Hi @Discordius, thanks for reporting this bug.

Can you please provide a full example (data and query) that will work and the expected result?

[2018-11-30 13:22] nepturial opened #93 "Problem with projection in arrays with 2 or more documents"
Hi again! I found another bug in 2.2.6. Not happens in 2.2.5

const mingo = require("mingo")

**Have**
[code]

**execute**
`mingo.find(arr, {}, { 'sub.id': 1, 'sub.name': 1 }).all()`

**return**
[code]
**instead**
[code]

[2018-12-01 05:45] #93 closed

[2018-12-01 05:50] kofrasa commented on #93
This is a regression introduced while addressing #91

[2018-12-10 09:43] kofrasa commented on #92
Closing this issue. Reopen with a example and the version of `mingo` if it is still broken

[2018-12-10 09:43] #92 closed

[2018-12-10 22:42] fabiosussetto opened #94 "How to use Mingo with arrays of custom objects"
Hi, thanks for this amazing library.
I'm playing around with Mingo and I've got an array of Mobx objects (basically observables). I can turn them into plain objects easily, but I'd like to get back from Mingo queries the same objects. Maybe this is not supported at all cause of Mongodb projections support (e.g. what should I get back if I use $addFields on one of my objects?) - how would you appro

[2018-12-11 07:05] kofrasa commented on #94
Hi @fabiosussetto

I am glad you find this library useful. Unfortunately custom objects aren't supported.

The challenge is that there is no consistent way to clone them. It also messes with the implementation of the aggregation pipeline operators like `$project`, `$unwind`, `addFields` etc.
As a result custom objects are treated as plain JS objects where possible with strict validation when not a

[2018-12-11 07:05] #94 closed

[2018-12-14 15:37] mazswojejzony opened #95 "Aggregation performance"
Please see the following demo project: https://runkit.com/mazswojejzony/mingo-aggregation

In a nutshell it takes around 5 seconds to process aggregation logic on 10'000 items.

Am I doing anything wrong here?

[2018-12-19 19:20] kofrasa commented on #95
Hi @mazswojejzony, thanks for reporting this issue.

I haven't done extensive perf testing for `mingo` and have no data to support my comments so take it with a pinch of salt.

A 5 seconds processing time for 10,000 items is slow. My initial guess is that the time is spent within the `$group` pipeline operator, which requires realizing the full collection for the group expression operators `$sum`,

[2018-12-19 19:49] kofrasa commented on #95
How does this compare to using another collection manipulation library?

[2018-12-20 08:35] mazswojejzony commented on #95
Sorry, I have not checked other libraries. On the other hand I know the same aggregation pipeline runs way faster on MongoDB (I do not have exact numbers at hand though).

[2018-12-21 07:54] mazswojejzony commented on #95
I've just reproduced the same scenario on my local MongoDB instance. The same aggregation pipeline runs within **0.1s** on my machine (Core i7 CPU, 16GB RAM, MongoDB running locally in a Docker container).

[2018-12-29 17:09] kofrasa commented on #95
Hi @mazswojejzony, I was talking about comparing `mingo` against other collection filtering and aggregation javascript libraries like `lodash`, `Lazy.js` etc. `MongoDB` is implemented in C++ so any kind of comparison with `mingo` will have a disproportionate difference in the result.

[2018-12-29 17:56] mazswojejzony commented on #95
Hi, I fully agree this is not apples to apples comparison. At the same time I think it gives rough idea on what is possible.

[2018-12-30 07:57] darknos commented on #95
I compared my pipeline with 1.x version of mingo and got result almost 3x times faster. it’s a bit confusing

[2019-01-02 20:34] kofrasa commented on #95
I have tracked down the change that introduced the slow performance to [86b13fd](https://github.com/kofrasa/mingo/commit/86b13fdb2f3173d0f9aa5a54dbead065157220ba#diff-3deb3f32958bb937ae05c6f3e4abbdf5) which was introduced between releases `1.3.3` and `2.0.0`.

The implementations for `inArray` and `notInArray` were changed to rely on `isEqual` which performs a deep equality check that is unnecessa

[2019-01-03 05:58] #95 closed

[2019-01-03 11:36] kofrasa commented on #95
With `mingo@2.2.9` https://runkit.com/kofrasa/5c2df39ec1568500129214ef

[2019-02-04 23:02] fabiosussetto opened #97 "$dateFromParts not supported?"
Hi, first of all thanks for your amazing work on this project.
I wonder if currently the $dateFromParts operator is missing/not supported. I checked the source code and couldn't find any reference to it. Is there a particular reason why it's not been implemented?

Thanks.

[2019-02-05 04:38] kofrasa commented on #97
Hi @fabiosussetto thanks for finding the library useful.

I don't think `$dateFromParts ` is supported yet. I am happy to accept a PR.

[2019-02-12 03:49] johnnymaxwell opened #99 "support"

[2019-02-12 03:53] johnnymaxwell opened #100 "collation support"
Standard sorting returns upper case words before any lower case ones. For example,

db.zort.find({},{_id:0}).sort( {name: 1} );
{ "name" : "Bob" }
{ "name" : "Tom" }
{ "name" : "alice" }
{ "name" : "peggy" }

MongoDB supports the collation operation. For example,

db.zort.find({},{_id:0}).collation({locale: "en" }).sort( {name: 1} );
{ "name" : "alice" }
{ "name" : "Bob" }
{ "name" : "peggy" }
{ "

[2019-02-12 09:55] kofrasa commented on #99
Closing issue as there is no description. Probably created in error

[2019-02-12 09:55] #99 closed

[2019-02-21 16:53] stefanholzapfel commented on #100
That really is a show stopper. Any updates on this?

Thank you!

[2019-02-25 14:54] johnnymaxwell commented on #100
I have an example of collation support coded up and commented in a new mingo.js file. I am not sure how to extract the pieces into the separate lib files and rebuild the distribution though. I'm sure someone out there can do this in their sleep. I can attach the mingo.js file next time if so.

[2019-02-26 07:38] kofrasa commented on #100
Thanks for the work @johnnymaxwell. I wish I could get to this soon but I haven't had the time. Since you already have something down, I am happy to point you in the right direction.

In `mingo` the collection operations are implement by operators from the aggregation pipeline and is used by the [Cursor](https://github.com/kofrasa/mingo/blob/master/lib/cursor.js) object.

MongoDB allows specifying

[2019-02-26 08:18] stefanholzapfel commented on #100
I guess for most people the "strength" and "caseLevel" parameter is even more important. ([https://docs.mongodb.com/manual/reference/collation/](https://docs.mongodb.com/manual/reference/collation/))

In my MongoDB instance I sort using the "en" locale even though I use german special characters. Since it's unicode it seems to sort even non-english special characters correctly. But the sort is by

[2019-02-26 19:13] kofrasa commented on #100
https://docs.mongodb.com/manual/reference/collation/#collation-document-fields

[2019-02-27 05:37] johnnymaxwell commented on #100
Yes indeed? Someone was engineering minded, not end-user minded. Oh well...

Thank you two for your guidance. In my proof of concept I mapped MongoDB strength to JavaScript sensitivity using https://docs.mongodb.com/manual/reference/collation/#collation-document-fields and https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/localeCompare  respectively. For now
s

[2019-02-28 12:05] kofrasa commented on #100
Thanks @johnnymaxwell, I really appreciate that others find the project useful.

I think you are on the right track with regards to using `string.localCompare`. The options available seem to match most of the requirements in MongoDB. `$collation` is not an operator by itself and so a separate function is not required per se unless to make things cleaner.

Currently, [sortBy](https://github.com/kof

[2019-03-01 03:48] johnnymaxwell commented on #100
Thank you for the feedback.  I followed the current execution flow pattern AFAIK. At a high level I have the new pipelineOperator,

    function $collation(collection, collationSpec) {
       this.collationSpec = collationSpec; // Remember this for this Qquery instance in $sort
        return collection;
    }
It may be called from Cursor.collation(...). Then in $sort I look for the collationSpec.

[2019-03-07 16:10] JordanSinko opened #103 "Query Against Non-Objects"
Hello -

Hope I am in the right area. I am trying to use this awesome package but am getting a weird result using a query.

[code]

Does this not work with number types? If not, is there another way to query this out?

** Edit **
I was using this as an example https://docs.mongodb.com/manual/reference/operator/query/elemMatch/

[2019-03-07 17:38] kofrasa commented on #103
Hi @JordanSinko, thanks for reporting this issue.

There is a mistake in your translation of the example from `MongoDB` to `Mingo`. `$elemMatch` is a projection operator as noted on the documentation page which controls what should be returned from a complex valued field (i.e array or object) in a matched object. The correct signature is`mingo.Query(criteria, projection)`. See the correct us below

[2019-03-08 04:43] kofrasa commented on #103
Looking at the docs from the link above `$elemMatch` is also a query operator but is not handled as such in `Mingo`. Your initial query is legitimate and should be properly handled. Currently, we treat criteria inputs that do not start with an operator as matching with `$eq`.

[2019-03-09 22:34] johnnymaxwell commented on #100
I forked the project and started looking at your latest code as of 9 days ago. The collation research was done in a complete mingo.js file of 3+ weeks ago. This was my first attempted PR, so I had challenges mapping the marked changes into the separate source files and even building things.

I saw in your new sort.js file,

export function $sort (collection, sortKeys, opt) {
  if (!isEmpty(sortKey

[2019-03-10 13:30] kofrasa commented on #100
Hi @johnnymaxwell, thanks so much for the contribution. The general idea behind your implementation looks ok, but it seems to be doing a lot of work that is already taken care of.

I have not seen `$collation` as a separate operator in [MongoDB aggregation docs](https://docs.mongodb.com/manual/reference/operator/aggregation-pipeline/) so a new operator might be confusing if we expose that in the A

[2019-03-12 14:56] kofrasa commented on #89
After considering this for a while I think the current behaviour should remain as is. `MongoDB` does not allow storing functions on objects and would translate them to strings. (e.g. `{ "name" : { "code" : "function (n){console.log(n+ \"!\");}" }`)

If this operator allows custom object types, there is no sensible way to treat function members of the object which might only lead to later failures.

[2019-03-12 14:56] #89 closed

[2019-03-12 15:09] graycrow commented on #89
I understand, no problem.

[2019-03-12 17:13] JordanSinko commented on #103
Hi @kofrasa -

Thanks for looking into this. It appears to be applying $eq to simple types, so the `$lt` isnt being used. I have updated the example.

[code]

It appears to be doing this:

[code]

[2019-03-12 17:39] kofrasa commented on #103
That is is

[2019-03-13 05:25] #103 closed

[2019-03-18 16:22] stefanholzapfel commented on #100
Hi guys!

Thanks very much for your work.

I have tried to use the collation option in the aggregation pipeline, but as soon as I add the options object, it doesn't sort anymore:

[2019-03-18 16:54] stefanholzapfel commented on #100
Sorry my bad, I had a problem in my sorting syntax.

Sorting strings seems to work flawless. But when adding the collation, numbers are not sorted anymore? Is that possible or should I further investigate my code? :)

[2019-03-18 18:05] kofrasa commented on #100
Hi @stefanholzapfel.

Please can you provide a working snippet with sample input using [runkit](https://npm.runkit.com/mingo), and the expected results?

[2019-03-18 19:16] stefanholzapfel commented on #100
The mistake was on my side again. Sorry for bothering you, everything is working as excepcted so far.

[2019-03-18 19:47] stefanholzapfel commented on #100
@kofrasa  Thanks for the quick response!

Two issues that I can reproduce with runkit:

1.) Performance is very poor when using locale on string sort:
https://runkit.com/stefanholzapfel/5c8ff4e6204a0b0011d98e25

2.) Sorting for numbers with local throws error (a.localeCompare is not a function):
https://runkit.com/stefanholzapfel/5c8ff5aba4e5ef0013bd6700

[2019-03-18 20:05] kofrasa commented on #100
I already have a [fix](https://github.com/kofrasa/mingo/blob/development/lib/operators/pipeline/sort.js#L92-L93) for issue 2.

I will have to investigate issue 1 a bit more.

[2019-03-18 20:07] kofrasa commented on #100
There is an error in the first example of runkit.

[2019-03-18 20:11] stefanholzapfel commented on #100
Sorry, I was not aware that my last change in runkit was auto-saved....data reactivity sometimes sucks :)

Should run now.

[2019-03-18 20:26] kofrasa commented on #100
I made an update to compare against native comparison and made two observations.

First, the  performance of `mingo` sort is not great. Not desirable but it is good news as it shows there is room for improvement which I will look at soon.

Second, which is bad news is that `localeCompare` sucks even when used independently with the native sort function. `mingo`'s implementation is somehow faster f

[2019-03-18 20:30] stefanholzapfel commented on #100
Yah it's obviously the localeCompare that is so slow.

The normal mingo performance is more than fine for me.

[2019-03-18 20:31] stefanholzapfel commented on #100
The issue is discussed here: https://stackoverflow.com/questions/14677060/400x-sorting-speedup-by-switching-a-localecompareb-to-ab-1ab10

[2019-03-18 20:37] kofrasa commented on #100
Pushed release `2.3.2`

[2019-03-18 20:37] kofrasa commented on #100
Thanks for the link. The regex strategy might be worth trying. For now I have pushed `2.3.2` to address the error sorting non-string values.

[2019-03-19 06:56] #100 closed

[2019-03-19 23:05] stefanholzapfel commented on #100
@kofrasa
Just wanted to make a pull request, but I have seen you're already working on it in dev branch.

[code]
Declaring the collator in advance improves performance by factor 5 for me. Not brilliant though, but better than nothing.

[2019-03-20 06:11] kofrasa commented on #100
Thanks @stefanholzapfel. Yes I already added that change taken from the StackOverflow article you sent earlier. In my tests the performance improvement was at least 10x. I also shaved off about 50ms from normal sorting. The benchmark uses the code you provided. Both these changes are available in `mingo@2.3.3`.

[code]

[2019-03-20 06:12] kofrasa commented on #100
The native sort version uses `a.localeCompare(b)` while `mingo` uses `Intl.Collator`

[2019-03-20 06:14] kofrasa commented on #100
https://runkit.com/embed/258yfy63q117

[2019-04-03 04:01] davidlav opened #104 "Problem with TypeScript definition"
Tried running this bare minimum code from the readme in TypeScript
[code]
and while it compiles without issue, I get this runtime error.
[code]

[2019-04-04 04:27] kofrasa commented on #104
Hi @davidlav, thanks for reporting this.

The typescript above compiles down to;

[code]

This is owing the the `import ... from` syntax which itself creates a new namespace for all members including a 'default' key when specific members are not specified.

To get around this change the import line to;

[code]

which generates the expected code
[code]

I hope that helps.

[2019-04-05 02:55] #104 closed

[2019-04-05 03:36] davidlav commented on #104
Gotcha, thanks!  Can I suggest adding that import line to the Usage section of the readme for other Typescript users?

[2019-05-01 00:28] gak10100 opened #105 "Selecting members of sub arrays results in merged objects."
Code
[code]

Result
[code]

Expected Result
[code]

[2019-05-02 13:36] kofrasa commented on #105
Thanks for creating this issue @gak10100.

This is familiar and related to some older issues (https://github.com/kofrasa/mingo/issues/91 and https://github.com/kofrasa/mingo/issues/93) which I already closed.

The problem lies with not being able to distinguish `[ { from: 1, to: 2 } ]` from `[ { from: 1 } , { to: 2 } ]` when projecting by nested keys.

To get around this we can try to validate the

[2019-05-02 13:45] #105 closed

[2019-05-03 20:06] gak10100 opened #106 "Selecting members of sub arrays results in split objects."
Code
[code]
Result
[code]

Expected Result
[code]

[2019-05-04 05:04] stalniy commented on #90
What abou implanting something like this:

[code]

[2019-05-04 06:47] stalniy commented on #90
This should not introduce breaking changes and currently provides version of `Query` can be compiled from all possible operators

[2019-05-04 10:11] kofrasa commented on #106
Thanks for the issue, you beat me to creating it. This is another regression not caught by the tests and is similar to #93.

It appears the bug is sensitive to the order in which the keys are processed when there are missing keys in the nested objects. This can be confirmed by flipping the order of the keys in your example which produces the expected result.

wrong result for `{ 'history.user' : 1

[2019-05-04 12:06] kofrasa commented on #90
I like the approach even though it is only effective when using `query.test(...)`.

To communicate the limited functionality, the method could be named `createFilterQuery(...)`. The resulting query object could then be of some type, say `FilterQuery` with a limited API interface.

I think it is a good compromise and provides a decent subset for a majority of use cases.

Please feel free to submit

[2019-05-04 12:46] stalniy opened #107 "Use renovateapp to keep your dependencies up to date"
[Renovate bot](https://renovatebot.com/) is a really cool feature that allows to keep dependencies up to date. It automatically runs tests and if all good, updates automatically merges PR.

By the way, it's free and easy to install basic version. I use it for my project, you can check the config [here](https://github.com/stalniy/casl/blob/master/.renovaterc)

[2019-05-04 13:09] kofrasa commented on #107
Thanks. Will take a look.

[2019-05-04 13:40] kofrasa commented on #106
Fixed in `mingo@2.3.5`

[2019-05-04 13:40] #106 closed

[2019-05-04 14:22] stalniy commented on #90
After reviewing the codebase, I see that it will require a bit more refactoring than I expected.
You have cyclic references (`internal.js` includes all expression operators and some expression operators includes `internal.js`) between files and dynamic operator definitions. So, in order to proceed with the original request, I need to uncycle that files and make static exports.

Instead of

[code]

[2019-05-04 14:59] kofrasa commented on #90
Yes the operators need to be declared at the top-level and then added to the respective arrays.

You only need to do that for the simple and query operators in https://github.com/kofrasa/mingo/blob/master/lib/operators/query.js for the`FilterQuery` implementation.

`computeValue` is pervasive and requires knowledge of all available operators to work correctly so doing more than basic filtering wil

[2019-05-04 15:21] kofrasa commented on #90
I have pushed a [dev-filter](https://github.com/kofrasa/mingo/tree/dev-filter) branch in support of my comments above.

This change https://github.com/kofrasa/mingo/commit/5c8e976afc00802a9e1c63d7d402e8a8215214f7 exports the functions for use in the future `createFilterQuery` method. Tree shaking can still work but will be nullified if the user opts to use the `$expr` operator.

We can collaborate

[2019-05-05 03:36] kofrasa commented on #104
will do. thanks

[2019-05-30 14:25] belatrix-sgd opened #109 "sortBy(collection, fn, cmp) function crashes when collection key is "constructor""
When sortingBy keys like "function", "constructor" a conditional hash[key] (line 534 - mingo.js) returns true even if the hash object does not contain an explicit "constructor" property.

This check should be done with Object​.get​OwnProperty​Names() to ensure the key is explicitly defined in that object.

[2019-05-31 05:01] kofrasa commented on #109
Can you provide some more details such as the stack trace, query, and sample input?

[2019-05-31 12:06] belatrix-sgd commented on #109
Hi FrancisThanks for answering so soon. I'll try to provide more details today but you can reproduce the error just trying to sort a list containing the string "constructor". I tried with last lib version. Sebastián On May 31, 2019 12:01 AM, Francis Asante <notifications@github.com> wrote:Can you provide some more details such as the stack trace, query, and sample input?

—You are receiving this b

[2019-06-12 12:33] lionben89 opened #110 "$facet in aggregation pipeline (bug)"
Hi,
When I tried to do $facet as the 3 operator in a aggregate operators array, i go thrown an error, because
the facet operator code is :
export function $facet (collection, expr, opt) {
  return collection.transform(array => {
    return [ objectMap(expr, pipeline => aggregate(array, pipeline)) ]
  }).first()
}

which enable the this.__first flag

and cause

_validate () {
    if (this.__first)

[2019-06-29 16:21] kofrasa commented on #110
Thanks for reporting this @lionben89. I will make some time to look at this issue but I also welcome pull requests.

Please provide sample input data and query that produces this issue?

[2019-09-26 07:13] sepehr commented on #81
The example above actually pinpoints a bug; the second run of aggregator does not yield an `_id` when grouping. It probably happens only when using `$group`.

[code]

[2019-09-29 19:26] kofrasa commented on #81
@sepehr Nice catch looking at the `$group` operator and thanks for the fix. Very much appreciated.

[2019-10-08 18:44] LGTM-badger opened #115 "Migrate LGTM.com installation from OAuth to GitHub App"
Hi There,

This project is still using an old implementation of LGTM's automated code review, which has now been disabled. To continue using automated code review, and receive checks on your Pull Requests, please [install the GitHub App](https://github.com/apps/lgtm-com/installations/new) on this repository.

Thanks,
The LGTM Team

[2019-10-22 05:12] kofrasa commented on #107
Added. Really nice tool indeed. Thanks again

[2019-10-22 05:12] #107 closed

[2019-10-25 07:01] #110 closed

[2020-01-23 13:48] JordanSinko opened #119 "$project not projecting new array fields"
I'm not sure how Mingo compares to the current implementation of Mongo syntax, but I am not able to project an array with sub expressions.

[code]

Notes: https://docs.mongodb.com/manual/reference/operator/aggregation/project/#new-array-fields

[2020-01-30 16:26] billreynolds007 opened #120 "proposed $toDecimal and other conversion functions found in 4.x"
I came upon an example MongoDB query which used $toDecimal and tried it with Mingo. Mingo was not aware of this function. Attached are proposed functions for $toBool, $toDate, $toDecimal, $toDouble, $toInt, $toLong, and $toString. I was not sure what to do with $toObjectId.
I appreciate the updates and the incorporation of the locale sorting feature.
[mingoProposedConversionFunctions.txt](https://

[2020-01-30 16:29] billreynolds007 opened #121 "proposed update to $trunc to spport optional 'place' argument"
Mingo is not aware of the optional 'place' argument in $trunc. Here is the proposed code to be aware of that optional argument. The function call template is { $trunc : [ &lt;number&gt;, &lt;place&gt; ] }.
For reference see https://docs.mongodb.com/manual/reference/operator/aggregation/trunc/.

[mingoProposedTruncateUpdate.txt](https://github.com/kofrasa/mingo/files/4135075/mingoProposedTruncateUp

[2020-01-31 08:46] kofrasa commented on #121
Thanks for the contribution @billreynolds007. This looks like it was added later.

I will appreciate send a PR with the new improvements. Thanks again.

[2020-01-31 08:49] kofrasa commented on #120
This library is a bit out of date at the moment. My reasoning has been to keep it lean and take contributions as people use new operators not yet supported. There were a flood of new operators from MongoDB version 4.0 that I haven't gotten around to implementing yet.

I am happy to accept a PR for any of them you are using currently and have implemented.

Thanks.

[2020-01-31 08:52] kofrasa commented on #119
Hey @JordanSinko, thanks for reporting this.

This is looks like a bug unless the behaviour of MongoDB aggregation changed in new versions. I will make some time to research it but if you have already tracked it down, I am happy to accept a PR.

[2020-02-06 05:11] daedalus28 opened #122 "Date operators with timezone fail inside of $group"
It seems like the date operators like `$year`, `$month`, and `$dayOfMonth` aren't working as part of a `$group` aggregation.

I constructed a minimal test case as an executable runkit (https://runkit.com/daedalus28/mingo-date-operators-in-group-bug) and am also pasting it in below:

[code]

[2020-02-06 05:16] daedalus28 commented on #122
Interestingly, it works if the agg is simplified to:

[code]

Which I think means that the date operators just don't support `timezone`

[2020-02-06 05:21] daedalus28 commented on #122
For reference, timezone support was added in mongo 3.6: https://docs.mongodb.com/manual/reference/operator/aggregation/dayOfMonth/#exp._S_dayOfMonth

[2020-02-20 07:50] caritasverein opened #123 "$lookup aggregation does not allow local- and foreignfield to be nested props"
Using the dot-notation to reference nested properties inside local- or foreignfield does not seem to work:
[code]
As a workaround for localfield you'd have to add the nested field as a property of the top-lvl object like
[code]
As a workaround for foreignfield you'd have to use a lookup.pipeline to add the nested field as a property of the top-lvl object like (i didnt test this though)
[code]

[2020-03-04 11:59] squallstar opened #124 "Library does not work on IE11 because of Symbol being undefined"
Hello, is there any chance we can get a version of the dist js which works on IE11?

It currently doesn't work because `Symbol is undefined` so a polyfill will be necessary during the transpiling.

I have tested the latest JS files in the dist folder against IE11.

Many thanks.

[2020-03-08 15:06] kofrasa commented on #122
Hi @daedalus28, thanks for opening the issue. `Mingo` currently does not support the `timezone` option. The library has grown quite big and I selectively leave out features I "guess" would not be widely used such as the `timezone` option. The static string list it pulls in does increase the library size quite significantly.  See non-exhaustive list below for example.

In the future I would like to

[2020-03-08 16:34] kofrasa commented on #124
Hi @squallstar, thanks for opening this issue.

I am not sure adding a polyfill is the right thing to do here. The [Symbol](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Symbol) object is not required to run `Mingo` and is only added as a convenience to enable [for..of](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/for...of) style i

[2020-03-08 17:01] #119 closed

[2020-03-08 17:01] #121 closed

[2020-03-08 17:01] #123 closed

[2020-03-08 17:01] #124 closed

[2020-03-09 09:49] squallstar commented on #124
@kofrasa thanks! Really appreciate the patch you made. Are all `dist` files up to date so that I can make use of your patch?

[2020-03-10 08:16] kofrasa commented on #124
Yes, the changes are available in `dist` for release `2.5.0`. All files are up to date and should run fine even in environments without `Symbol` support.

Happy Coding.

[2020-03-16 19:09] hdavidzhu opened #125 "Vanilla NodeJS require no longer works in v2.5.1"
https://github.com/share/sharedb-mingo-memory/blob/81b5c3ba0434e231e4a7f5219ef9ddb783d96f52/index.js#L1

This type of import now breaks w/ the latest patch.

**Repro:**

[code]

[code]

[2020-03-16 19:44] kofrasa commented on #125
Hey @hdavidzhu,

Really sorry for breaking the nodeJS require. Will take a look very soon.

[2020-03-16 21:18] marklapointe commented on #125
Thanks for the heart attack.

[2020-03-16 22:10] kofrasa commented on #125
Tracked down the issue. Will publish `2.5.2` to address it

[2020-03-16 23:01] hdavidzhu commented on #125
@kofrasa Thanks for the quick fix!

[2020-03-16 23:59] #125 closed

[2020-03-18 12:07] kofrasa opened #126 "Convert project to Typescript"
Migrate project to type script to benefit from static-type error checking and other goodness.

[2020-03-26 10:23] kofrasa commented on #122
I will be adding numeric  timezone support (i.e `+/-hh[:][mm]`). Users are free to implement their own location to hour offset translation for use in the supported operators.

[2020-03-31 15:29] SamTolmay opened #130 "Import breaks when using babel to convert es module syntax targeting node"
On version 2.5.2, when mingo is imported using es6 syntax, and babel is used to transform the code, mingo is not imported by the transformed code. This also happens when using a babel loader with jest.

For a reproduction, see: https://github.com/SamTolmay/mingo-import-reproduce.git

[2020-04-02 04:44] kofrasa commented on #130
Thanks for the report @SamTolmay  and also taking the time to create a repo. I will run your examples to see what exactly is breaking.

[2020-04-02 06:58] SamTolmay commented on #130
Thank you

[2020-04-02 08:36] kofrasa commented on #130
The issue seems to be the missing [default](https://github.com/kofrasa/mingo/blob/6f9dc31cce5723abaf3245b04fccd0c6d7e139d5/index.js) export in the latest version. Consequently the new import syntax would be as below, which is not ideal. I will fix and publish a new version shortly. Thanks again for the effort in setting up a repro.

[code]

[2020-04-02 21:05] #130 closed

[2020-04-05 08:03] kofrasa opened #133 "Support per use-case 'id' key override"
Currently the `idKey` of objects in a collection defaults to `_id` and can only be changed globally using `mingo.setup({ key: 'some_id'})`. This affects all other users of the library in a shared environment.

We need a facility to modify the default key per use case basis in order not to upset other users in the same environment.

[2020-04-07 07:58] par6n opened #135 "New date operators and timezone support on mainstream?"
First of all, on behalf of my team, I want to thank you and all of the contributors for maintaining this great project. It really makes life easier for us!

We're interested in your recent commit (84575ce65e539c77daa38ffbcf50afee612aa8a7) since it creates new opportunities for us to release more features. But as I've understood, these new operators and timezone support are currently on development

[2020-04-07 17:42] kofrasa commented on #135
Hi @par6n, so I have been busy with a major `3.0.0` release which converts the project to typescript and addresses most all of the outstanding issues including timezone support for dates.

Although I cannot promise a hard timeline or release, early next week or earlier seems very likely. The development branch is almost ready to merge barring fixing #97 and adding some needed documentation to the

[2020-04-08 21:33] #120 closed

[2020-04-08 21:33] #122 closed

[2020-04-09 13:36] squallstar commented on #124
@kofrasa unfortunately this is still an issue on IE11 because "Object.assign" is not supported (see https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/assign).

[2020-04-09 15:21] kofrasa commented on #124
I will make the fix as part of `3.0.0` which attempts to baseline IE support to version 9.

[2020-04-09 15:36] squallstar commented on #124
@kofrasa thanks, meanwhile I have added the above polyfill to make it work.

[2020-04-10 07:01] kofrasa commented on #90
The coming `3.0.0` loads only query and projection operators by default. All other operators must be explicitly required and registered. This effectively supports tree shaking to reduce bundle size.

[2020-04-11 01:39] kofrasa commented on #115
Done

[2020-04-11 01:39] #115 closed

[2020-04-11 01:40] kofrasa commented on #97
Coming in `3.0.0`. Currently available on `branch:master`

[2020-04-11 01:40] #97 closed

[2020-04-11 01:40] kofrasa commented on #133
Added in `3.0.0`

[2020-04-11 01:40] #133 closed

[2020-04-11 01:41] kofrasa commented on #126
Version `3.0.0` is written in typescript

[2020-04-11 01:41] #126 closed

[2020-04-11 01:43] kofrasa commented on #90
This is now available on `branch:master`. Specific operators may be imported explicitly and registered using `useOperators`.

Query and Projection operators are imported by default in main modules. This can be side stepped by not importing `mingo` and instead using nested imports such as `mingo/query`, `mingo/core`, etc.

More in readme.

[2020-04-11 17:06] #109 closed

[2020-04-12 21:57] kofrasa commented on #135
Release `3.0.0` published

[2020-04-12 21:57] #135 closed

[2020-04-12 21:57] kofrasa commented on #90
Release `3.0.0` published

[2020-04-12 21:57] #90 closed

[2020-04-18 12:30] par6n opened #137 "Using $hour in query via $expr?"
I'm trying to test an object against the query I wrote which goes as following:
[code]

It works with MongoDB itself (tested against v4.2), but the same query doesn't work when it's converted to Mingo.

[code]

It also doesn't work by removing `$toDate` and `getTime()` from code.

**Update**: I dug a little deeper and by putting tracers around the code, I understood that `$hour` handle isn't being

[2020-04-20 21:20] kofrasa commented on #137
Starting in `3.0.0` the expression operators must be loaded explicitly. This enables tree-shaking so that any unused operators is not bundled. You can use one of the two methods below.

### 1. Import all operators
Simpler but will add the entire library to bundle.

[code]

### 2. Import the required operators explicitly

[code]

[2020-04-20 21:20] kofrasa commented on #137
You can see the full documentation here. http://kofrasa.net/mingo/index.html

[2020-04-27 08:32] edqd opened #139 "$elemMatch fails on undefined array"
Hello,
first of all, thanks for this great lib :)
since version 3.0.0, we are seeing an error being thrown on processing of $elemMatch when there is not array present, is this intended behavior? I didn't find anything on this in the release docs or any other issue on this subject hence I'm creating this one.
A simple example to demo the error: https://runkit.com/embed/xypukhcz8gg2

[2020-04-27 09:06] kofrasa commented on #139
Hi @edqd,  thanks for reposting the issue. This is a regression and will be fix in a minor release

[2020-04-27 09:17] #139 closed

[2020-04-27 09:22] #137 closed

[2020-05-11 17:17] carsonfarmer opened #140 "SyntaxError: Cannot use import statement outside a module"
With update to 3.0.1, I'm now getting the following error in a Typescript project. If I run this with (say) mocha and the `--require esm` flag, it compiles fine.

[code]

This is for a library meant to be consumed by others, any idea how to handle this properly so they don't have to?

[2020-05-11 19:29] carsonfarmer commented on #140
For context, I'm import like this:

[code]

Which might be part of the problem?

[2020-05-12 05:24] carsonfarmer commented on #140
Yes, this appears to be the issue. By importing the sub-modules directly like this, they aren't wrapped in `esm`, hence the error. Closing this as I suspect this is entirely pilot error and functioning as expected. Though perhaps the docs could reflect this requirement?

[2020-05-12 05:24] #140 closed

[2020-05-12 11:50] kofrasa commented on #140
Hi @carsonfarmer, thanks for reporting this issue. The esm loader should work for sub-modulesa s well.

An example from the shell.

[code]

Do you mind to elaborate on how you are consuming the library?

[2020-05-12 15:45] carsonfarmer commented on #140
Right, with the esm module required, all works nicely. I'm in a remote node environment where I don't have access to how node is started, so I can't use cli flags to include the esm module. This is why the 'main' module being wrapped in esm is helpful. For additional context, the remote code is actually being dynamically compiled from typescript and run on the remote node, within a [tslab notebook

[2020-05-14 21:48] carsonfarmer opened #141 "Not always safe to rely on the constructor property of an object"
I'm having some issues with mingo in certain JS environments. For instance, object literals _don't_ always have constructor === Object, which is a check performed here: https://github.com/kofrasa/mingo/blob/master/src/util.ts#L92. See https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/constructor#Changing_the_constructor_of_an_object for why this isn't always a

[2020-05-17 10:28] kofrasa commented on #141
Thanks for the report @carsonfarmer.

So this is an interesting one as the function is meant to test for an instance of the base JS [Object](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object) type and not derivatives such as  `Array` or `Boolean`. Should a user explicitly change the constructor function the object will cease to be valid since after going throu

[2020-05-22 03:45] sepehr opened #142 "$map operator `as` should default to `this`"
When using a `$map` operator, the reference to `$this` is not working as expected when the [optional `as` operand](https://docs.mongodb.com/manual/reference/operator/aggregation/map/) is not provided.

## Example

[code]

### Expected output

Since the last selected image is `img1`, I expect to see:

[code]

See the results of this aggregate online:
https://mongoplayground.net/p/oBJ2SNGYfuc

### A

[2020-05-22 15:23] #142 closed

[2020-06-05 17:46] carsonfarmer commented on #141
I fact, I am dealing with object literals... but they are being run through a compiler (bundler) which is 'converting' them to something that doesn't satisfy the constraints in isObject, hence the issue. For the time being, I am also actually taking advantage of the unsafe behavior of isObject to trick it into thinking my objects _are_ indeed object literals... this should work for now 🤷.

[2020-06-05 17:46] #141 closed

[2020-06-11 17:06] stefanholzapfel opened #144 "Can't import all operators in NodeJS"
Hi!

I'm on
NodeJS version 14,
Mingo version 3.0.2

I bundle the app with Webpack version 5 (also tried with 4, same effect) and run it via nodemon (2.0.4).

I try to import all operators like that (bundle size is no problem for me):

[code]

Some of the imports work, some (like in this example arithmetic) throw:
[code]
Other es6 imports work fine in my app. It also seem to have somehting to do wi

[2020-06-18 01:40] j commented on #144
Not sure if this is unrelated, but I couldn't get tests to start b/c this 3.x branch of mingo.  I would get a memory leak somehow.  Reverting back to the older version of mingo fixes my issue.

[2020-06-18 09:20] stefanholzapfel commented on #144
To be more precise, I get errors with:
`useOperators(OperatorType.EXPRESSION, expressionOperators);`
and
`useOperators(OperatorType.ACCUMULATOR, accumulatorOperators);`

Other operators can be imported.

[2020-06-19 03:51] kofrasa commented on #144
@stefanholzapfel  thanks for reporting the issues. The error seems related to module loading. Starting from `3.0.0` there is a dependency on the [esm](https://www.npmjs.com/package/esm) which allows using the ES6 import syntax, which is the target of the Typescript build.

If you are getting a syntax error, my guess is that `esm` is not installed in your environment. Assuming you got that working

[2020-06-19 03:51] kofrasa commented on #144
@j please open a new issue with the details of the memory leak.

[2020-06-19 19:02] j opened #145 "mingo + ts-jest creates memory leak to crash"
Latest mingo with ts-jest creates memory leak / heap limit error.

Here's a simple repro: https://github.com/j/mingo-error

[2020-06-19 19:02] j commented on #144
@kofrasa https://github.com/kofrasa/mingo/issues/145 might be related.

[2020-06-19 21:09] kofrasa commented on #144
I am unable to repro the import errors. Below is my example using `esm` from my terminal.

[code]

[2020-06-26 13:24] stefanholzapfel commented on #144
Hi Kofrasa!

Yes you are right, I don't have esm installed, and its a Typescript build via Webpack.

I don't know the different module builders very well, but I don't unterstand why the ES export syntax works with pipeline, projection and query operators and not with accumulators and expressions. I also use other packages with ES syntax...

The exact error for expression operators is:

[code]
Than

[2020-07-09 02:46] kofrasa commented on #145
Thanks a lot for the repro project. This is quite a weird issue to debug.

I haven't delved deeper into the node memory management to fully understand what could be happening as I suspect it would be an unnecessary rabbit hole.

Nonetheless I found these possibly related issues searching the `jest` project .

- https://github.com/facebook/jest/issues/9959
- https://github.com/facebook/jest/issues/

[2020-07-09 02:53] kofrasa commented on #145
See comment https://github.com/facebook/jest/issues/7874#issuecomment-477316116 which suggests the same type of problem described in this issue.

Please open an issue or add your vote to a relevant one in the `jest` project.

[2020-07-10 19:11] j commented on #145
@kofrasa

Yes, I have dozens of dependencies and a huge mono-repo under one jest test suite, and it was just the `mingo` v3 version that caused the crash.  The error mentioned `esm` from what I remember.  Reverting back to `2.x.x` fixed the issue, so I'm running the old version of `mingo` ATM.  I used the same versions of everything else and tracked it down to `mingo`.

[2020-07-10 19:12] j commented on #145
You can clone my repository, set `mingo` to `2.x` and tests will pass.

[2020-07-11 06:43] kofrasa commented on #145
The fingers point to the dependency on [esm](https://www.npmjs.com/package/esm). Something is amiss in how it interacts with [jest](http://npmjs.com/package/jest).

In any case, that does not have to be a hard dependency. Users are free to pick their preferred bundling solution so the right thing to do here is remove it.

[2020-07-16 13:51] #145 closed

[2020-07-16 13:55] kofrasa commented on #145
Fix in latest version. `esm` module removed.

[code]

[2020-07-16 14:00] kofrasa commented on #144
I am unable to repro this but the latest version [3.0.3](https://github.com/kofrasa/mingo/releases/tag/3.0.3) removes the reliance on the `esm` module which is likely the root cause.

Closing this issue. Please reopen if the issue still persists after upgrade.

[2020-07-16 14:00] #144 closed

[2020-07-20 00:11] redgeoff opened #146 "$not operator does not handle non-array values correctly."
I'd like to start by saying that your library looks awesome!

I'm considering making mingo the MongoDB query engine for [MSON](https://github.com/redgeoff/mson) as it implements aggregation, a very needed concept that is currently missing.

My hold up is that in my quick tests, it looks like there may be a problem with basic operators like `$not`. For example, take a look at [this codsandbox](http

[2020-07-20 14:10] kofrasa commented on #146
Thanks and I appreciate you considering this library.

On the issue itself, the `$not` operator is actually implemented although it seems there is an inconsistency with `MongoDB`.

The [documentation](https://docs.mongodb.com/manual/reference/operator/aggregation/not/#exp._S_not) does say the value for the expression when used in an aggregation context must be `[ <expression> ]`, that is, it must

[2020-07-20 15:56] redgeoff commented on #146
Awesome, thanks for the clarification! I'll leave this issue open to leave a record of the bug.

[2020-07-20 19:34] #146 closed

[2020-07-26 18:51] pocesar opened #147 "mutation happening on boundaries for $bucket"
right now, it's not possible to reuse the same pipeline parameter because of mutation that's happening inside $bucket:

[code]

it makes using `{ $bucket: { boundaries: [0, 10], default: 20 } }` for example, to have boundaries `[0, 10, 20]` in the next aggragate run, failing with `$bucket 'default' expression must be out of boundaries range`

a simple `var boundaries = [...expr.boundaries];` at th

[2020-07-26 19:41] #147 closed

[2020-08-06 03:21] TimoStolz opened #149 ""query criteria must be an object" is thrown for object literals in nuxt.js environments"
When I use mingo in a nuxt.js project, the snippet `new Query({ something: { $eq: 'awesome' } })` leads to an error complaining "query criteria must be an object". However in this snippet, there is an Object literal. While debugging the application I noticed that nuxt.js and mingo were using different Object-constructors—possibly due to polyfilling, but I don't know exactly. They looked pretty equ

[2020-08-07 06:03] kofrasa commented on #149
Hi @TimoStolz, thanks for reporting this.

So i explained in https://github.com/kofrasa/mingo/issues/141, validating literal objects early helps avoid surprises down the line for users who have custom constructors on objects and expect them to be preserved. Using literals like in your example should fail. See [example](https://runkit.com/embed/tj3hlla0cxbv)

If you are getting an error something b

[2020-08-07 09:21] stefanholzapfel commented on #144
Thanks, fixed with new version.

[2020-08-18 15:04] TimoStolz commented on #149
At the moment, I'm basically patching the library using [patch-packge](https://www.npmjs.com/package/patch-package) and the attached patch file. Take care: this introduces lodash as a dependency! However, as lodash already is a dependency of my project, for me, this is fine.

[code]

[2020-08-24 04:54] billreynolds007 opened #150 "Lookup example please"
I have reviewed the issues related to $lookup and have not found a full example of its use. I am confused as to how to reference the secondary collection being "looked into" with the various Mingo API functions which are passed a single collection.
Any help would be greatly appreciated.
Thank you,

[2020-08-26 06:41] kofrasa commented on #150
Hi @billreynolds007, so the documentation for this library is thin as it mostly relies on the public MongoDB docs. That is deliberate but it fails for operators such as`$lookup`, that is not compatible due to the different environments.

For `mingo`, [$lookup](https://docs.mongodb.com/manual/reference/operator/aggregation/lookup/index.html) requires the `from` argument to be an `Array` of objects

[2020-08-26 23:18] billreynolds007 commented on #150
Thank you @kofrasa. I have put together something for you to consider down the road to allow a hook to retrieve a referenced collection on the fly when only its name is provided. I adjusted .\mingo\operators\pipeline\lookup.js as shown below

[code]

Here is my proof of concept node application,

[code]
The resulting output is shown below,
[code]
This pattern could be used anywhere there is curren

[2020-08-27 09:07] kofrasa commented on #150
Thanks for the suggestion Bill. I like the design and I think it could work.

I would opt for a local resolver though, so that it can be passed through the options. With that, users are free to assign different options to the global space and use as desired. Mingo switched to local options since `3.0.0` to prevent conflicts between different libraries using it in the same project.

A single functi

[2020-08-27 20:48] kofrasa commented on #149
After a bit of investigation and new findings, I have settled on the `lodash` approach. Between an object's constructor and prototype, the former is more likely to be modified. Validating against the prototype restricts the definition of a plain object which I think is better for most cases.

Basically, a plain object becomes either; an object literal, or any object with a null prototype. This is

[2020-08-28 21:09] billreynolds007 commented on #150
Hi @kofrasa.  I would suggest you support both flavors of interaction:

1. a well known global (with a better and distint Mingo-like name)
2. an options element within the $lookup call

Each has tradeoffs that the developer can decide upon to fit his or her requirements.
The first option enables the same query to run in both MongoDB and Mingo worlds.
There is no extra options argument to pass in.

[2020-09-03 11:39] Nashorn opened #152 "fully built/distributable version"
Could someone provide a link to a fully built/distributable version in a single .js please

[2020-09-03 12:08] Nashorn opened #153 ".sort() does nothing in 2.2.4"
Running 2.2.4 still because I cannot find a single .js distributable of latest 3.x.
.sort() does not work on the cursor, it returns [] unsorted. I looked at the src
and sort() does not do much.

Any suggestions?
[code]

[2020-09-03 16:36] gotdan opened #154 "Passing pipeline in $lookup"
Does mingo support passing a pipeline object to a $lookup stage - I'm getting an invalid argument error (https://docs.mongodb.com/manual/reference/operator/aggregation/lookup/#join-conditions-and-uncorrelated-sub-queries)? If not, is this on the roadmap? Thanks!

[2020-09-03 17:21] kofrasa commented on #153
You need to call `all()` on the cursor to realize the output. The methods only update the `Cursors` internal state and do not take immediate effect.

[2020-09-03 17:23] kofrasa commented on #154
That is not yet supported. Please feel free to submit a PR

[2020-09-03 17:36] kofrasa commented on #152
This project no longer provides a single distributed file. It should be trivial to create one by checking out the source and executing the typescript compiler with your own [configuration](https://www.typescriptlang.org/docs/handbook/compiler-options.html).

I would not recommend a single distributable file though since the library has grown large and now provides the ability to only include opera

[2020-09-21 16:43] shanejonas opened #155 "add option to disable $where clause"
**Is your feature request related to a problem? Please describe.**
I'm trying to use mingo to allow querying a just subset of data via an API, but i'd like to not allow `$where` or any eval clauses.

**Describe the solution you'd like**
As a user of `mingo`, for security purposes, I'd like to not allow any evals in queries such as `$where: "this.foo && this.bar"`, is theres a way to disable it?

*

[2020-09-27 08:36] #149 closed

[2020-09-29 15:44] RezaErfani67 commented on #154
how can i use $lookup
[code]

[2020-10-15 08:27] kofrasa commented on #155
This seems reasonable. I will see if I can add it to the next release

[2020-10-15 10:08] #153 closed

[2020-10-15 10:12] kofrasa commented on #154
Currently the input needs to be the action collection reference (i.e `Array`) to lookup from. This is because `mingo` does not manage collections and only provides the query engine. There is an issue https://github.com/kofrasa/mingo/issues/150 to support collection resolvers so that you can register functions to return collections that map to the given string name. This will be made available in t

[2020-11-30 16:25] BenjD90 commented on #62
Here a fork to avoid hash collision, but loosing performances : https://github.com/BenjD90/mingo

Here an exemple of processing error that it avoid :
[code]

I'll try do make de PR soon, to allow user to give it's own hash function, and tell it in the documentation.

[2020-12-02 12:57] kofrasa commented on #62
Hi Ben,

I think your request sounds reasonable. Different use cases may need
different hashing guarantees.

I will take a look at the PR soon.

Regards,
Francis

On Mon, Nov 30, 2020 at 6:25 PM Benjamin DANIEL <notifications@github.com>
wrote:

[2020-12-14 18:21] egeucak opened #158 "Support for Uint8Array"
It cant get object type of `Uint8Array`'s because of the
[code]
and Uint8Array has type of [object (Uint8Array)]

When there are some large integers in an array, it fails. I am going to be opening a pr for a fix soon.

[2020-12-15 10:53] #158 closed

[2020-12-19 12:38] Gervwyk opened #160 "Comparison operators return a function value"
First of all, thanks for this excellent library!

Running in 3.1.0.
The following returns a function instead of a boolean as the result of a $eq operator.
[code]
Calling `res[0].value()` returns `true`.
Same behaviour for other comparison operators.

Is this a bug?

[2020-12-19 20:11] kofrasa commented on #160
Hi @Gervwyk, thanks for submitting this issue. `Aggregator#run` should return the realized value as expected.

I have tested this here https://runkit.com/embed/r87j4ic3ked7 using exactly the code you posted.

Can you recheck your test and confirm if you are doing something different.

[2020-12-19 21:44] Gervwyk commented on #160
Thanks. We have it set up [here](https://github.com/lowdefy/lowdefy/blob/main/packages/operators/src/operators.js).

I've managed to reproduce it in runkit: https://runkit.com/gervwyk/5fde6fce91460d0013a104d9

Is this setup correct?

[2020-12-20 09:42] kofrasa commented on #160
I was able to reproduce and fix the issue here. https://runkit.com/embed/74wp7z21f7mx

There was a mistake in registering the operators. You swapped `query` and `projection` operators. The interfaces are different for different operator types. See [docs](https://github.com/kofrasa/mingo/wiki/Custom-Operators).

If you want to import all operators you just use the short-cut.

[code]

No need to imp

[2020-12-21 09:27] Gervwyk commented on #160
O shoot. Don't know how me missed that, will change to system import. Sorry about the typo and thanks for the help!

[2020-12-21 09:27] #160 closed

[2021-01-07 00:47] kofrasa commented on #154
Resolving in favour of https://github.com/kofrasa/mingo/issues/150

[2021-01-07 00:47] #154 closed

[2021-01-07 00:51] kofrasa commented on #152
Resolving this issue as there is nothing more to do.

[2021-01-07 00:51] #152 closed

[2021-01-07 00:53] kofrasa commented on #155
In the next release `$where` will not be registered by default and must be included explicitly by users.

[2021-01-07 20:09] kofrasa commented on #150
Fixed in [4.0.0](https://github.com/kofrasa/mingo/releases/tag/4.0.0)

[2021-01-07 20:09] #150 closed

[2021-01-07 20:09] kofrasa commented on #155
Fixed in [4.0.0](https://github.com/kofrasa/mingo/releases/tag/4.0.0)

[2021-01-07 20:09] #155 closed

[2021-01-21 12:55] renovate[bot] opened #161 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: undefined. Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2021-01-21 14:58] #161 closed

[2021-01-25 04:50] billreynolds007 opened #162 "Updated lookup example"
Hi Kofrasa, Many thanks for incorporating the $lookup extension concept I outlined last year.
I was trying to put together an example withthe 4.0.0 release.
I have reviewed the references guide at
http://kofrasa.net/mingo/modules/_operators_pipeline_lookup_.html#_lookup

I am unable to get the callback option to be called. Here is what I have

    const mingo = require('mingo')
    var { Aggregato

[2021-01-26 15:08] redgeoff opened #163 "Support for elemMatch isn't consistent with Mongo"
Thanks again for the awesome library @kofrasa!

I'm putting the finishing touches on swapping out siftjs with mingo in [MSON](https://github.com/redgeoff/mson) so that MSON can also support aggregations.

In doing so, I found that there appears to be an issue with how mingo is handling `$elemMatch`.

Specifically, the following code is not finding a match:

[code]

Here is a [codesandbox](https://

[2021-01-30 15:54] redgeoff commented on #163
I'm digging in a bit deeper and it appears that the issue is with Mingo's handling of `$and` when nested in a `$elemMatch`. I was able to find a workaround for this particular case by using the following query instead:
[code]

This only works though as the `$and` operation is implicit. If for example, we needed to use the `$or` operator like the following then it breaks:
[code]

I'll dig in a bit

[2021-01-31 00:48] redgeoff commented on #163
OK https://github.com/kofrasa/mingo/pull/164 fixes the problem and preserves all the existing tests. @kofrasa please let me know if you'd like me to tweak the PR. Thanks!

[2021-01-31 13:28] kofrasa commented on #162
You have to pass the resolver as part of the options.

[code]

[2021-01-31 16:05] #163 closed

[2021-02-17 06:13] chris110408 opened #166 "When process $unwind ,Mingo will remove item if it contains 0 value,"
When we fixed a bug on  `contexture-mongo`.https://github.com/smartprocure/contexture-mongo/pull/107. we tried to use Mingo to create a unit test, we find this bug.

if we have a collection
[code]
 and if we use mongo shell to process unwind aggregation we will get the following result

[code]

However, if we use Mingo to create a mock test

[code]

the result  is

[code]

A pull request to fix th

[2021-02-17 20:02] #166 closed

[2021-03-05 04:19] shota-f opened #167 "{ $type: [BsonType, BsonType, ...] } not working"
Thanks for the awesome library @kofrasa

Version: 4.1.2

As explained in https://docs.mongodb.com/manual/reference/operator/query/type/
The $type expression can also accept an array of BSON types in mongodb.

But in mingo, the following code returns unexpected result.

[code]

[2021-03-05 10:10] kofrasa commented on #167
Hi @shota-f, thanks for spotting this.

You are correct that an array of types is not currently supported. I accept PRs if you want to take a stab at the implementation, you can find the code here [$type](https://github.com/kofrasa/mingo/blob/master/src/operators/_predicates.ts#L292).

[code]

The signature should change to something like;

[code]

And then the array handled appropriately for the

[2021-03-06 04:57] shota-f commented on #167
Thanks for the clear explanation.
I've sent a pull request. #167

[2021-03-15 12:44] #167 closed

[2021-03-23 11:50] vikiival opened #169 "useOperators incompatible operators"
[code]
I'm getting following error
[code]

[code]

[2021-03-24 10:22] vikiival commented on #169
possible hack
[code]

[2021-05-04 20:11] gajus opened #170 "mingo vs sift.js"
I could not find any comparisons.

Since both projects are actively maintained, I think many would love to know the perspective of both authors. Tagging @crcn.

What are the main differences (performance, use case, etc)?

[2021-06-28 08:27] caritasverein opened #178 "$or and $elementMatch operator producing error"
First of all - thank you for the hard work everyone put into mingo!

As i used it for our latest project, i came across this issue. When i use `$elemMatch` and an operator like `$or` in the context you see below, it will fail if i use the `$or` operator first. Please have a look at my example:

[code]

The output will be as following:

[code]

You can use this codesandbox to see this issue in acti

[2021-06-28 17:24] kofrasa commented on #178
Hi @caritasverein,

Thanks for reporting this issue and for using this libary.

First I would like to as if you have tested whether the query `query_or_elemMatch` is valid in MongoDB?

Many of the semantics in `mingo` are implemented from experimentally testing against MongoDB queries and not following an existing spec so some query constructions may legitimately not be supported.

[2021-06-28 17:45] kofrasa commented on #178
I just confirmed the behaviour on MongoDB. The second query `query_or_elemMatch` in indeed invalid. See below

### MongoDB v4.4.5
[code]

The `$or` operator cannot be nested under a field expression. The error from `mingo` is somewhat misleading and a side-effect of possibly another rule being violated and a generic error message thrown in that case.

[2021-07-06 12:15] TheLudd opened #184 "$multiply fails"
I have this code that runs an aggregation pipeline that should multiply value and probability on each document:

[code]

I get this error when I run it:
[code]

Is this a bug or some error in the usage?

[2021-07-09 05:37] #178 closed

[2021-07-09 05:45] kofrasa commented on #184
The `$multiply`  operator belongs to type `OperatorType.EXPRESSION` but you are using it as an `OperatorType.ACCUMULATOR`.

[2021-07-09 06:07] TheLudd commented on #184
Thank you, this made it work.

[2021-07-09 06:07] #184 closed

[2021-07-12 12:45] kofrasa commented on #169
Fixed in [4.1.3](https://github.com/kofrasa/mingo/releases/tag/4.1.3)

[2021-07-12 12:45] #169 closed

[2021-07-12 13:20] kofrasa commented on #170
I have not used [sift](https://www.npmjs.com/package/sift) myself so cannot provide a well informed comparison. Both projects advertise as providing MongoDB queries in Javascript so I think the goals are similar.

From the project page, what stands out to me between the two is feature completeness. `mingo` aims to bring the full  MongoDB experience (i.e. filtering, evaluation, aggregation, and tra

[2021-07-12 13:20] #170 closed

[2021-07-12 13:21] #162 closed

[2021-08-04 15:10] MattIPv4 opened #187 "$filter does not have collection as context"
👋 I don't explicitly see the Mongo docs confirming expected behaviour either way, but when using this I noticed that expressions evaluated as `cond` in `$filter` only have the variable from `as` in the collection context, and not the wider parent context?

https://github.com/kofrasa/mingo/blob/8aaa4803cceff0261484dddc044516edefdf48d2/src/operators/expression/array/filter.ts#L24-L27

Should this be

[2021-08-06 02:07] kofrasa commented on #187
Thanks for reporting this @MattIPv4 . As you noted that is not specified but a quick test in the MongoDB shell suggests the entire object context should exist.

Using the collection

[code]

**$filter example**
[code]

**$map example**
[code]

In that regard `$filter` should be updated to be consistent with the `$map` implementation. Feel free to send a PR. Please include some tests when you do.

[2021-08-06 22:30] #187 closed

[2021-08-20 14:54] pypmannetjies opened #190 "Regexes are not supported in $all queries"
It appears that RegExp are not supported in [`$all` queries](https://docs.mongodb.com/manual/reference/operator/query/all/) when using Mingo, [but they are in MongoDB](https://docs.mongodb.com/manual/reference/operator/query/regex/)

Opened a PR with a new test to show the issue: https://github.com/kofrasa/mingo/pull/189

[2021-08-21 22:34] kofrasa commented on #190
Thanks for opening an issue.

I interpret the above as saying that; regexes are supported when using the `$all` operator in `mingo` but not in `MongoDB`. This means the behaviour in `mingo` is not correct and your PR confirms that is the case.

Unfortunately, this library is not implemented according to a spec, and such inconsistencies do exists. This is one of such that cannot be fix since doing

[2021-08-22 02:48] pypmannetjies commented on #190
Hmmm no I am reporting that Regexes are NOT supported when using the `$all` operator in `mingo`, but they ARE supported in `MongoDB`. So I assumed this is an error in Mingo that could be fixed.

[2021-08-22 16:01] kofrasa commented on #190
The test in https://github.com/kofrasa/mingo/pull/189 is passing which suggest regexes are supported in `$all`.

Can you provide an example from MongoDB that would not work in `mingo`?

[2021-08-23 13:29] pypmannetjies commented on #190
Apologies but I can't see where the tests passed in that PR, I see a https://lgtm.com/projects/g/kofrasa/mingo/rev/pr-5c21c72550d61fb694e6053b90023e3910298c8d LGTM page but not where the tests are running.

Locally, this test fails for me.

[2021-08-24 02:05] kofrasa commented on #190
My bad, I wrongly assumed the status checks also includes the unit test execution status. I should set that up sometime.

I will mark this as a bug. Please feel free to send a PR. Will be very much appreciated.

[2021-08-24 15:23] pypmannetjies commented on #190
Thank you! I pushed a potential fix to [my PR](https://github.com/kofrasa/mingo/pull/189)

Added some additional tests, and they are passing fine. I'm not super familiar with this project so please LMK if this is not the right approach for the fix.

[2021-08-30 12:23] renovate[bot] opened #191 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.
 - [ ] chore(deps): lock file maintenance

---

- [ ] Check this box to trigger a request for Renovate to run again on this repository

[2021-08-30 14:31] deviprsd opened #192 "$setUnion is not upto spec"
The behavior of set union is described on [mongo docs](https://docs.mongodb.com/manual/reference/operator/aggregation/setUnion/#mongodb-expression-exp.-setUnion) such as this

$setUnion ignores the duplicate entries. $setUnion ignores the order of the elements.

of the elements in the output array is unspecified.

The issue being here is that the resulting array is not being treated as a set as me

[2021-09-07 01:52] kofrasa commented on #192
Thanks for raising the issue and for the recommended fix using [Set](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Set).

I do accept PRs if you want to give it a bash.

[2021-09-22 16:05] #190 closed

[2021-09-22 16:05] #192 closed

[2021-09-24 17:54] MattIPv4 opened #194 "Add $dateAdd/$dateSubtract operators"
Hey!

I noticed that the `$dateAdd` and `$dateSubtract` operators aren't currently implemented. It'd be great if these were added as they're supported in native Mongo for date manipulations.

---

I ended up doing the following to patch in `$dateAdd` locally for a project I'm working on:

[code]

I imagine this'd work in the source here as well, but I noticed all the existing date stuff is done by

[2021-09-25 03:38] kofrasa commented on #194
Hi @MattIPv4 ,

Thanks for opening this issue. There are a lot of operators that have not been implemented mostly due to time constraints.

I am open to PRs for missing operators and also will try to implement some of them from time to time.

The MongoDB operators library is huge and grows with each new version so it is hard to keep up. The custom operator interface is provided to fill in where th

[2021-09-25 12:50] MattIPv4 commented on #194
Would you be happy with a dependency being introduced to support some of these operators (e.g. `dayjs` for the date manipulation ones)?

[2021-09-26 17:05] #194 closed

[2021-09-27 12:41] MattIPv4 opened #195 "$regex operator mutates input query object"
👋 Very minor thing that we worked around by deep cloning our query, but it seems like the `$regex` operator results in the query object being mutated:

[code]

(https://runkit.com/mattipv4/6151a7728cc9ee0008935c81)

[2021-09-27 18:54] kofrasa commented on #195
Yeah, this is an old one. It is the result of normalizing the regex into a single value so that it can used as a single key/value in the operator map. You will notice that the example gets rewritten as `/.{2,}/i` which should be equivalent.

See https://github.com/kofrasa/mingo/blob/661faf187c61db483f183daf6aadec15c64c2a19/src/util.ts#L914-L915

It is an easy fix if you want to send a PR. We just

[2021-10-12 14:29] Barresider opened #196 "useOperators not working as expected and most operator types not working"
It seems that inside the aggregator class you are only taking the pipeline operator type into account and you don't even consider the other types, therefore trying to use one of the other will inevitably result in an error.

https://github.com/kofrasa/mingo/blob/56fb0efb3b1ce13a20f77b1b3a263e0a15877e58/src/aggregator.ts#L37

Furthermore, I had to determine that the useOperators function is absolut

[2021-11-14 13:11] bjornolofandersson opened #201 "Custom top-level operators"
I'm trying to implement my own $jsonSchema operator for mingo and I'm running into some issues since it is a top-level query operator.

Seems like mingo puts on a restriction for these by only allowing certain pre-defined ones:

[code]

I'm getting "unknown top level operator: $jsonSchema". Is there a way to lift this restriction?

[2021-11-14 14:09] kofrasa commented on #201
Thanks for opening this issue @bjornolofandersson.

The only restriction to add any operator is that it must not be already implemented in the library.

I have not gotten around to implementing [$jsonSchema](https://docs.mongodb.com/manual/reference/operator/query/jsonSchema/#mongodb-query-op.-jsonSchema) yet, so you can implement it as a custom operator and then register it using [addOperators](h

[2021-11-14 19:52] bjornolofandersson commented on #201
Hi!

Thank you for your quick reply! I was originally thinking of adding the $jsonSchema operator as an external thing, but now that you mentioned it, it would actually be even better to try to get it into the mingo code base itself.

I'll have a go at it and will keep you updated on the progress. The $jsonSchema operator would require a third party library to be included so I will see what is fit

[2021-11-14 20:01] bjornolofandersson commented on #201
Actually, at a closer inspection, I'm probably wrong about there being a restriction. Perhaps I just failed to add my operator properly. I'll give it another shot tomorrow.

Thanks again!

[2021-11-15 01:53] kofrasa commented on #201
If you are adding a custom operator then a dependency is fine. For adding to mingo core, the operator must be implemented directly in the library. This is the only constraint to adding code to this library. I have found that many of the operators are not that complicated to merit a dependency and schema validation likely falls into that category.

Another approach for your use-case, is to load the

[2021-11-15 18:04] kofrasa commented on #201
Actually you were correct about the restriction. That applies to query operators that act on the entire document and not specific fields. I am adding support for `$jsonSchema` in the next version. Given the nuances of the operator and compatibility difference between MongoDB's format and other popular ones in the wild, I will leave the option of the schema validator to use to the user. That will b

[2021-11-15 18:32] #201 closed

[2021-11-16 14:06] kpmy opened #202 "Proxy clone instead of direct utils/cloneDeep"
Hi!

After intensive usage in production I discovered that cloning objects inside pipelines gets very heavy after two or more unwinds or groupings (70k clones for typical report request in my project).

Therefore I made a proxyCloneDeep function, that replaced your default clone function.

For now it looks pretty dumb, but pipeline speedup is insane :).

So, can you add as an option solution like

[2021-11-16 16:01] kofrasa commented on #202
Thanks for raising this issue @kpmy and I am glad you are finding this library useful.

To the topic, while performance has not been a big focus of this library I like to make improvements here and there. Cloning objects for the pipeline was not the best solution at the time but the simplest and safest approach. I had not yet added per query options. I would prefer not to clone objects at all for

[2021-11-16 17:54] kpmy commented on #202
OK, I see. Of course, general approach will remain as it was, deepClone. But in case of this proxy-clone approach base object can remain immutable because of mutability layers that proxy creates instead of modifying base object. Even arrays CAN be wrapped to proxy. Main reason why I'm using it was pipeline like {$group: {_id... _items: {$push: "$$CURRENT"}} for reports with expanding rows. If you

[2021-11-17 05:44] kofrasa commented on #202
I am happy to break immutability by way of an opt-in function. The solution with proxies may not be appropriate because the user still has to make assumptions about the results. If we have to deep clone at the end then we are already losing the benefit. Using an opt-in, the expectation is well defined. If you don't care about the input documents' immutability then you can run your query with an op

[2021-11-19 01:57] kofrasa commented on #202
@kpmy

On master branch, I have pushed a new change that uses object sharing for pipeline operations unless explicitly disabled. The option is called `processingMode` and is initialized with the value `ProcessingMode.CLONE_OFF` as the default. You should get some speed increase for your use case if your objects are very large.

Will appreciate if you can test and let me know whether you see improv

[2021-11-25 17:06] kofrasa opened #203 "Add `$derivative` window operator"
This task is to add the `$derivative` window operator for `$setWindowFields`.

https://docs.mongodb.com/manual/reference/operator/aggregation/derivative/

[2021-11-25 17:07] kofrasa opened #204 "Add `$denseRank` window operator"
This task is to add the [$denseRank](https://docs.mongodb.com/manual/reference/operator/aggregation/denseRank/) window operator for `$setWindowFields`.

[2021-11-25 17:09] kofrasa opened #205 "Add `$documentNumber` window operator"
Add the [$documentNumber](https://docs.mongodb.com/manual/reference/operator/aggregation/documentNumber/) operator for `$setWindowFields`.

[2021-11-25 17:10] kofrasa opened #206 "Add `$rank` window operator"
Add the [$rank](https://docs.mongodb.com/manual/reference/operator/aggregation/rank/) operator for `$setWindowFields`.

[2021-11-25 17:13] kofrasa opened #207 "Add `$expMovingAvg` window operator"
Add the [$expMovingAvg](https://docs.mongodb.com/manual/reference/operator/aggregation/expMovingAvg/) operator for `$setWindowFields`.

[2021-11-25 17:21] kofrasa opened #208 "Add `$merge` aggregation pipeline operator"
Implement the [$merge](https://docs.mongodb.com/manual/reference/operator/aggregation/merge/) aggregation pipeline operator.

[2021-11-25 17:24] kofrasa opened #209 "Add `$unionWith` aggregation pipeline operator"
Implement [$unionWith](https://docs.mongodb.com/manual/reference/operator/aggregation/unionWith/) aggregation pipeline operator.

[2021-11-27 09:09] #204 closed

[2021-11-27 09:09] #205 closed

[2021-11-27 09:09] #206 closed

[2021-11-27 09:09] #207 closed

[2021-11-27 18:26] kofrasa opened #210 "Add `$integral` window operator"
Implement [$integral](https://docs.mongodb.com/manual/reference/operator/aggregation/integral/) window operator for `$setWindowFields`.

[2021-11-27 18:27] kofrasa opened #211 "Add `$shift` window operator"
Implement [$shift](https://docs.mongodb.com/manual/reference/operator/aggregation/shift/) window operator for `$setWindowFields`.

[2021-11-28 02:56] #203 closed

[2021-11-28 07:31] #211 closed

[2021-11-28 08:20] #210 closed

[2021-11-30 03:10] #208 closed

[2021-12-01 01:45] #209 closed

[2021-12-01 01:49] kofrasa commented on #202
Resolved in https://github.com/kofrasa/mingo/commit/9dffc01c9d9e40e4e13c74838601a8ef3aa2b24f with the new `ProcessingMode.CLONE_OFF` option.

[2021-12-01 01:49] #202 closed

[2021-12-28 10:23] SteffenLanger opened #213 "Await async iterators"
**Use Case**
We query data from a local IndexedDB via [idb](https://github.com/jakearchibald/idb) using a cursor. The IndexedDB contains about 20,000+ CRM records that might make a mobile device really slow when read into RAM all at once. That's why we would love to use mingo's Lazy loading ability.

**Issue**
The idb cursor works asynchronously, so we need to await the `next()` call of the iterat

[2022-01-03 12:06] mylawacad opened #214 "Error: unknown operator $numberDecimal"
Hi, could you please let me know if mingo is capable to compare Decimal128 data type please?

[2022-01-08 20:01] kofrasa commented on #214
Can you provide an example of what you asking?

Mingo implements all the [type](https://docs.mongodb.com/manual/reference/operator/aggregation/#type-expression-operators) operators offered by MongoDB that client-side Javascript can natively support.

[2022-01-08 21:57] kofrasa commented on #213
Supporting `async` operations within the library has several complications and it not ideal for most use cases. An async data source is also incompatible with the `Aggregation` framework which operates over a fully realized set of documents.

If you want to access the filtering and projection capabilities, then you can decouple your data retrieval from processing and use the `Query` object directl

[2022-01-12 08:52] SteffenLanger commented on #213
How would you propose using `.limit()` and `.sort()` in this case? I'd assume that these two methods would have to be implemented with another query call that's applied to the `results` array in your example above, like so:

[code]

[2022-01-12 10:24] kofrasa commented on #213
You will have to make some tradeoffs. Like other aggregation pipeline operators, sorting requires the fully realized result set.  In my suggestion above, you will have no need for the `Cursor` returned from executing your query hence the `.all()`. If you want to limit the returned results, that would have to be done either before or after filtering depending on your use case. Either way it would b

[2022-01-12 10:33] kofrasa commented on #213
Unfortunately `async` functions do not compose  well with `sync` functions in JS. Since this library targets in-memory data manipulation it is best to keep it decoupled from any data retrieval process especially one using async callbacks or promises. The `Aggregator` will be useless in that case since it needs as input an array of data. The `Query` class is still very useful so long as you are onl

[2022-01-12 11:33] SteffenLanger commented on #213
Yep, sounds reasonable! Thank you for taking the time to discuss this 💪🏼

[2022-01-12 11:33] #213 closed

[2022-01-12 13:03] asgaraliyev opened #216 "Export and Import feature"
Hello guys.Is there any feature like exporting and importing data into databases by once in mingo software? I coudnt find

[2022-01-12 15:55] kofrasa commented on #216
This library is used for querying, manipulating, or aggregating results from a sequence of complexly structured JSON objects in memory. It does not provide a database of any kind for storing those objects nor an interface for updating the objects.

For the actual database please consider using the [MongoDB](https://docs.mongodb.com/) product which also ships with various data [import and export](h

[2022-01-12 15:55] #216 closed

[2022-01-12 17:21] kofrasa commented on #214
Resolving this issue. Please refer to MongoDB documentation for how to use the type operators.

[2022-01-12 17:21] #214 closed

[2022-01-15 21:06] kofrasa opened #217 "Add support for `$dateDiff` operator"
Implement the date operator [$dateDiff](https://docs.mongodb.com/manual/reference/operator/aggregation/dateDiff/)

[2022-01-15 21:06] kofrasa opened #218 "Add support for `$dateTrunc` operator"
Implement the date operator [$dateTrunc](https://docs.mongodb.com/manual/reference/operator/aggregation/dateTrunc/).

[2022-01-31 16:09] cezarcarvalhaes opened #220 "`replaceOne` and `replaceAll` missing from package (v5.1.0)"
Currently getting `operator '$replaceOne' is not registered` when trying to access this method. I upgraded to the latest (v5.1.0) and the methods are still missing.  I manually checked the package contents in `operators/expressions/string` and these methods are missing.

The CHANGELOG.md says there were added on 12/05/2021.

[2022-01-31 20:16] kofrasa commented on #220
That is strange. The operators are implemented since `5.0.0`. I just  installed `5.1.0` and you are correct that the files are missing.

Must have been some publishing errors from the local file system. Expect an update shortly.

[2022-01-31 20:30] kofrasa commented on #220
Tracked down the bug to `5.0.0` which means none of the new operators added in `5.0.0` and `5.1.0` were uploaded.

[2022-01-31 21:57] kofrasa commented on #220
Fixed in [6.0.0](https://www.npmjs.com/package/mingo/v/6.0.0). Please verify and resolve issue.

[2022-02-01 18:52] cezarcarvalhaes commented on #220
Just grabbed them. Looks great, thanks!

[2022-02-01 18:52] #220 closed

[2022-02-01 19:11] cezarcarvalhaes opened #222 "Subtracting a day from a first day of month date results in subtracting one year and one day."
This is very edge-case issue, but came across it today, as it's the first of the month.

Essentially, if a creating a new date using `$dateFromParts`, and inside that expression you also subtract a day, the result ends up being a year and a day before its input. This only happens for dates that are the first of the month (eg. '02/01/2022'). Other dates work as expected. This same behavior is not r

[2022-02-02 01:26] kofrasa commented on #222
Verified at https://runkit.com/embed/bema0uvqcwvn

I do accept PRs if you want to give this a stab.

[2022-02-02 03:14] kofrasa commented on #222
Some useful places to look.

https://github.com/kofrasa/mingo/blob/master/src/operators/expression/date/_internal.ts#L73

https://github.com/kofrasa/mingo/blob/master/src/operators/expression/date/dateFromParts.ts#L59-L63

`remainder` is correctly updated from `day->month` but is not reset for the next unit transition `month -> year`. An else block after [L68](https://github.com/kofrasa/mingo/blob

[2022-02-02 03:35] kofrasa commented on #222
Perfect you already caught it.

[2022-02-02 03:37] #222 closed

[2022-02-02 09:33] kofrasa opened #224 "`$dateFromParts` does not correctly handle date underflows."
### Problem

After preprocessing the date parts, using the values without adjustments can lead to incorrect results due to overflows on month boundaries.

For example, using the parts for date `2022-03-00` after adjustment it comes out to `2022-03-03` instead of `2022-02-28`. This is because the day value false in an invalid range for the current month.

### Resolution
When a day value for a given

[2022-02-02 09:37] #224 closed

[2022-02-02 16:47] cezarcarvalhaes opened #225 "importing assert from console in dateToString causes usage with Webpack v5 to break"
Using mingo v6+ in an app built with webpack throws an error: `Module not found: Error: Can't resolve 'console' in...`.

Webpack also includes the message: `BREAKING CHANGE: webpack < 5 used to include polyfills for node.js core modules by default.
This is no longer the case. Verify if you need this module and configure a polyfill for it.`

This is caused by importing assert from console in `dateT

[2022-02-02 21:27] kofrasa commented on #225
Thanks @cezarcarvalhaes. Actually the code should be calling [assert](https://github.com/kofrasa/mingo/blob/master/src/util.ts#L56) from the `util` module.

[2022-02-03 16:51] #225 closed

[2022-02-24 17:12] ErisDS opened #228 "$dateFromString cannot handle timezone 'Z'"
I discovered an issue where supplying dateFromString with a valid date ending in Z results in `undefined`.

I'm doing something like:

[code]

I'm expecting this to work due to a couple of things [mentioned in the mongo docs](https://docs.mongodb.com/manual/reference/operator/aggregation/dateFromString)

These indicate that the Z format for indicating UTC is supported, as it is the default output

[2022-02-24 19:05] kofrasa commented on #228
Thanks for adding the test case. Looking at the code it seems we are just ignoring a potential `Z` at the end of the date string value.

You can fix this by changing the referenced line to include an optional `Z`.

[code]

That would pass inputs like `2013-09-12Z` which is valid from my tests on https://mongoplayground.net/. It seems every alphabet adds some offset to the time value according to [

[2022-02-24 20:45] #228 closed

[2022-04-14 18:57] voxsoftware commented on #53
I have same problem. I need a sort on ObjectId  objects. Why not use valueOf function? Or convert object to string? Or allow specify to library a object to primitive function converter for compare.

[2022-04-29 06:52] cmlenz opened #238 "Incorrect behavior with dotted path query on nested arrays"
I ran into the following query working on the MongoDB playground, but not working in Mingo:

[code]

Here's the link to the playground: https://mongoplayground.net/p/NTqxvjkqAEh. Here I am getting the expected result.

With Mingo, the query does not match.

When I remove one level of nesting and adjust the query, the test passes:

[code]

It also matches when I remove the second child!

[code]

Is

[2022-04-29 13:35] kofrasa commented on #238
Thanks for the bug report. We are not correctly handling deeply nested array comparisons [here](https://github.com/kofrasa/mingo/blob/master/src/operators/_predicates.ts#L94). The array should be flattened to the depth of the selector before comparing.

[2022-04-29 13:43] #238 closed

[2022-04-29 14:16] cmlenz commented on #238
Wow, that was quick. It works now. Thanks a lot!

[2022-04-29 15:38] kofrasa commented on #238
You are welcome.

[2022-05-04 14:47] emehmet opened #239 "Incorrect table headings"
Hi,
Table headers are not replaced when a collection is cleared or a field is completely deleted. Old titles are shown. If the tree is expanded, the correct titles appear.

Windwows 11
Mingo 1.8.0

[2022-05-04 14:50] emehmet commented on #239
Sorry wrong repo :)

[2022-05-04 14:50] #239 closed

[2022-05-14 23:23] kmalakoff opened #241 "Require cycle react-native"
When I use mingo@6.0.6 in a react-native project, it looks like they are checking for require cycles and there's 3 in mingo.

These are just warning so not affecting my project, but I wanted to let you know in case you'd like to remove these require cycles.

[code]

[2022-05-15 17:43] kofrasa commented on #241
Thanks for the report @kmalakoff. It looks like these are bad imports likely from relying on auto-complete.

https://github.com/kofrasa/mingo/blob/master/src/operators/expression/date/dateSubtract.ts#L5
https://github.com/kofrasa/mingo/blob/master/src/operators/expression/object/unsetField.ts#L5
https://github.com/kofrasa/mingo/blob/master/src/operators/pipeline/setWindowFields.ts#L14

[2022-05-15 17:58] #241 closed

[2022-06-10 20:04] kofrasa commented on #217
Resolved in https://github.com/kofrasa/mingo/pull/244

[2022-09-06 23:38] cboar opened #253 "Feature planning: Mongo update operators"
Hi, thanks for building this feature-rich library!

I'm looking to extend the library by adding a new `Updater` class, which aims to implement [the various MongoDB update operators](https://www.mongodb.com/docs/upcoming/reference/operator/update/).

The basic API would look something like this:
[code]
In order to support both mutable and immutable updates, I would aim to write all the operators in

[2022-09-07 02:25] individual11 opened #254 "addOperators replacement?"
I see you dropped the `addOperators` function from core (some time ago, but I wasn't updating my local copy for testing, that's on me) in favor of customer operators like `$function`. I was hoping to add functionality to all mingo call, without having to always add `$function` inline to the aggregation pipeline itself. Is that still possible?

My use case is I want to have a few basic functions li

[2022-09-07 08:35] cboar commented on #253
After some research, it seems that the only operator that even supports any use of Mongo expressions is `$pull`. With that being the case, I will likely opt to have my implementation as a separate project, as the use-cases do not quite overlap.

[2022-09-07 08:35] #253 closed

[2022-09-07 16:50] individual11 commented on #254
I was able to answer my own question. It looks like with a mild configuration change to how the old `addOperators` work, I could easily use the `useOperators` function to add new functionality. Would you want that in the wiki, or is that something to be avoided?

[2022-09-13 20:39] kofrasa commented on #254
I will update the wiki. Unfortunately that page is a bit stale.

[2022-09-14 00:56] individual11 commented on #254
Happy to do a PR to it if using `useOperators` to bring in custom operators is the intent.

[2022-09-14 12:30] kofrasa commented on #253
Thanks @cboar. I think this will be ideal for a separate project. My observation is that you can achieve most updates using the query operators since they support transforms but another library providing the update API may be more desirable for some users.

[2022-09-30 15:32] cezarcarvalhaes opened #256 "dateToParts timezone returning incorrect hour"
When using `$dateToParts` and passing in a UTC offset to the timezone parameter, resulting hour value is a head by 10 hours when passing in $$NOW value and timezone as `'-05:00'`.

Here's an example:

[code]

When I ran this at 10am (EST), I received `hour: 19`. I expected to receive `hour: 9`. Here's a quick [mongo playground](https://mongoplayground.net/p/cB1yQuIsza0) reproduction of the query t

[2022-09-30 18:42] kofrasa commented on #256
Hi @cezarcarvalhaes , thanks for the bug report. Seems like a bug due to a bad test code.

[2022-09-30 19:15] #256 closed

[2022-10-01 00:58] kofrasa opened #257 "Add support for $lastN (aggregation)"
Implement new operator [$lastN](https://www.mongodb.com/docs/manual/reference/operator/aggregation/lastN) from MongoDB 5.2

[2022-10-01 00:59] kofrasa opened #258 "Add support for $lastN (array)"
Implement new operator [$lastN](https://www.mongodb.com/docs/manual/reference/operator/aggregation/lastN-array-element/) from MongoDB 5.2

[2022-10-01 01:01] kofrasa opened #259 "Add support for $firstN (array)"
Implement operator [$firstN](https://www.mongodb.com/docs/manual/reference/operator/aggregation/firstN-array-element/#mongodb-expression-exp.-firstN) from MongoDB 5.2

[2022-10-01 01:02] kofrasa opened #260 "Add support for $firstN (aggregation)"
Implement operator [$firstN](https://www.mongodb.com/docs/manual/reference/operator/aggregation/firstN/) from MongoDB 5.2

[2022-10-01 01:08] kofrasa opened #261 "Add support for $sortArray (aggregation)"
Implement operator [$sortArray](https://www.mongodb.com/docs/manual/reference/operator/aggregation/sortArray/#mongodb-expression-exp.-sortArray) from v5.2.

[2022-10-01 01:13] kofrasa opened #262 "Add support for $bottom (aggregation)"
Implement [$bottom](https://www.mongodb.com/docs/manual/reference/operator/aggregation/bottom/#mongodb-group-grp.-bottom) operator.

[2022-10-01 01:14] kofrasa opened #263 "Add support for $bottomN (aggregation)"
Implement [$bottomN](https://www.mongodb.com/docs/manual/reference/operator/aggregation/bottomN/#mongodb-group-grp.-bottomN) operator

[2022-10-01 08:00] kofrasa opened #265 "Add support for $top (aggregation)"
Implement aggregation operator [$top](https://www.mongodb.com/docs/manual/reference/operator/aggregation/top/#mongodb-group-grp.-top).

[2022-10-01 08:01] kofrasa opened #266 "Add support for $topN (aggregation)"
Implement accumulator operator [$topN](https://www.mongodb.com/docs/manual/reference/operator/aggregation/topN/#mongodb-group-grp.-topN).

[2022-10-01 08:02] kofrasa opened #267 "Add support for $minN (aggregation)"
Implement accumulator operator [$minN](https://www.mongodb.com/docs/manual/reference/operator/aggregation/minN/#mongodb-group-grp.-minN).

[2022-10-01 08:03] kofrasa opened #268 "Add support for $minN (array)"
Implement array operator [$minN](https://www.mongodb.com/docs/manual/reference/operator/aggregation/minN-array-element/#mongodb-expression-exp.-minN).

[2022-10-01 08:06] kofrasa opened #269 "Add support for $maxN (array)"
Implement array operator [$maxN](https://www.mongodb.com/docs/manual/reference/operator/aggregation/maxN-array-element/#mongodb-expression-exp.-maxN).

[2022-10-01 08:07] kofrasa opened #270 "Add support for $maxN (aggregation)"
Implement accumulator operator [$maxN](https://www.mongodb.com/docs/manual/reference/operator/aggregation/maxN/#mongodb-group-grp.-maxN).

[2022-10-01 08:08] kofrasa opened #271 "Add support for $locf (aggregation)"
Implement aggregation operator [$locf](https://www.mongodb.com/docs/manual/reference/operator/aggregation/locf/#mongodb-group-grp.-locf).

[2022-10-01 08:31] kofrasa opened #272 "Add support for $cosh (expression)"
Implement the expression operator [$cosh](https://www.mongodb.com/docs/manual/reference/operator/aggregation/cosh/).

[2022-10-01 08:31] kofrasa opened #273 "Add support for $sinh (expression)"
Implement the expression operator [$sinh](https://www.mongodb.com/docs/manual/reference/operator/aggregation/sinh/).

[2022-10-03 01:24] individual11 opened #274 "Possible breaking error in 6.1.1 `dateFromParts`"
I'm still investigating on my side, but an internal function to the file operators/expression/date/dateFromParts.ts `dateFromPartsFixtures` (which doesn't seem to be getting called from what I can tell at first glance) is causing an import to occur in the js file looking for the parent src folder. At least in my create-react-app that's using it, it's crashing. It looks like it was added in the 6.1

[2022-10-03 02:14] kofrasa commented on #274
Looks like a bad refactor. That function `dateFromPartsFixtures` should not be there at all.

[2022-10-03 02:24] #274 closed

[2022-10-13 09:19] KasperAanstoot opened #277 "core.addOperators is missing"
From wiki (https://github.com/kofrasa/mingo/wiki/Custom-Operators) it's possible to add custom operators. But addOperators is missing.
You can do the same with useOperators but would be nice to update the wiki :-)

[2022-10-14 21:29] kofrasa commented on #277
Updated. Thanks

[2022-10-14 21:29] #277 closed

[2022-10-14 21:30] kofrasa commented on #254
Updated the [wiki](https://github.com/kofrasa/mingo/wiki/Custom-Operators) to reflect `useOperator`. Thanks

[2022-10-14 21:30] #254 closed

[2022-10-28 11:41] cristian-moreno-ruiz commented on #266
Any news, ETA? 🙏

Thanks!

[2022-11-01 04:31] kofrasa commented on #266
Happy to accept a PR. Might be a while before I get to the new operators from Mongo `5.2`.

[2022-11-13 14:24] caramboleyo opened #283 "How does generator function for collection work?"
In the readme you say collection can be an array or a generator function, but when i put a generator func in, it just loops infinite and the function actually gets never called:

[code]

As i read in another issue, i think this also will not be possible right? Because i get every data item from a file stream and of course have to wait until its here:

[code]

[2022-11-13 15:04] kofrasa commented on #283
You must invoke the generator. Since there is no general way to detect a generator, the user must explicitly initialize it. Also the library does not support async processing. Try the following.

[code]

[2022-11-13 15:50] caramboleyo commented on #283
Aaah, yes that works :)

[2022-11-13 15:51] #283 closed